@use "variables.scss" as *;

.container {
  background-color: var(--background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  padding-bottom: 1em;
}

.pokemon-build {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: var(--highlight);
  padding: 0.75em 0.5em 0.75em 0.75em;
}

.pokemon-build-sections {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pokemon-build-section {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.combo-small {
  width: 36%;
}

.combo-medium {
  width: 38%;
}

.combo-large {
  width: 50%;
}

.evs {
  margin: 1.5em 1em 0 0.75em;
}

.pokemon-image {
  width: 5em;
  height: auto;
}

.speed-scale {
  margin-top: 2em;
}

.card {
  padding: 0em 1em 1em 1em;
}

.opponent-options {
  margin-top: 1em;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 1em;
}

.clear-button {
  display: flex;
  align-items: center;
}
