<div class="container">
  <div class="pokemon-build">
    <div class="pokemon-build-section">
      <app-pokemon-combo-box class="combo-small" [pokemonId]="pokemonId()" (pokemonChanged)="resetEvs()" />
      <app-input-autocomplete class="combo-small" label="Item" [value]="pokemon().item" [allValues]="allItemsNames" (valueChange)="store.item(pokemonId(), $event)" />
      <img class="pokemon-image" src="assets/sprites/pokemon-sv/{{ pokemon().name }}.png" />
    </div>

    <div class="pokemon-build-section">
      <app-status-combo-box [pokemonId]="pokemonId()" [statusConditions]="statusConditions" />
      <app-input-autocomplete class="combo-large" label="Nature" [value]="pokemon().nature" [allValues]="allNatureNames" (valueChange)="store.nature(pokemonId(), $event)" />
      <app-ability-combo-box [pokemonId]="pokemonId()" />
    </div>
  </div>

  <div class="evs">
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.spe ?? 0" stat="spe" [reduced]="true" />
  </div>

  <div class="speed-calculator-container">
    <app-speed-scale class="speed-calculator-container" [pokemonId]="pokemon().id" [pokemonEachSide]="17" />
  </div>

  <label class="title opponent-title">Opponent Side</label>
  <div class="options opponent-options">
    <mat-form-field appearance="outline" class="speed-modifier">
      <mat-select [value]="optionsStore.speedModifier()" (valueChange)="optionsStore.updateSpeedModifier($event)">
        @for (statsModifier of statsModifiers; track statsModifier) {
          <mat-option [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="optionsStore.speedDropActive()" (change)="optionsStore.toogleIceWind($event.source.checked)">Ice Wind</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.paralyzedActive()" (change)="optionsStore.toogleParalyze($event.source.checked)">Paralyzed</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.choiceScarfActive()" (change)="optionsStore.toogleChoiceScarf($event.source.checked)">Choice Scarf</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <label class="title opponent-title">Field</label>
  <div class="options">
    <mat-button-toggle-group multiple [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle class="max-width" [checked]="fieldStore.isWeatherSun()" (change)="fieldStore.toggleSunWeather()" data-cy="sun">Sun</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherRain()" (change)="fieldStore.toggleRainWeather()" data-cy="rain">Rain</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherSand()" (change)="fieldStore.toggleSandWeather()" data-cy="sand">Sand</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherSnow()" (change)="fieldStore.toggleSnowWeather()" data-cy="snow">Snow</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle [checked]="fieldStore.isTerrainElectric()" (change)="fieldStore.toggleElectricTerrain()" data-cy="eletric-terrain">Electric Terrain</mat-button-toggle>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="fieldStore.attackerSide().isTailwind" (change)="fieldStore.toggleAttackerTailwind()" data-cy="tailwind-attacker">Your Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.defenderSide().isTailwind" (change)="fieldStore.toggleDefenderTailwind()" data-cy="tailwind-defender">Opponent Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isTrickRoom()" (change)="fieldStore.toggleTrickRoom()">Trick Room</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <label class="title">Regulation</label>
  <div class="options">
    <mat-button-toggle-group [hideSingleSelectionIndicator]="true">
      <mat-button-toggle [checked]="optionsStore.regulation() === 'G'" value="G" (change)="optionsStore.updateRegulation($event.source.value)">Regulation G</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.regulation() === 'H'" value="H" (change)="optionsStore.updateRegulation($event.source.value)">Regulation H</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <label class="title">Pokémon</label>
  <div class="options">
    <app-input-autocomplete [allValues]="optionsStore.pokemonNamesByReg()" [value]="optionsStore.targetName()" (valueChange)="optionsStore.updateTargetName($event)" />
    <mat-icon class="clear-button" (click)="optionsStore.clearTargetName()">clear</mat-icon>
  </div>
</div>
