:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  grid-column-gap: 1em;
  margin: 1em 1em 0em 1em;
}

.team {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
}

.full-width {
  grid-column: 1 / -1;
}
