.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.left-pokemon {
  width: 30%;
  height: 40vh;
  padding: 1em;
  margin-top: 5%;
  background-color: rgb(248, 244, 244);
  border: 1px solid black;
}

.child {
  width: 40%;
  height: 90vh;
  margin-top: 5%;
  background-color: rgb(248, 244, 244);
  border: 1px solid black;
  overflow: scroll;
}

.container-main-pokemon {
  display: flex;
  padding: .5em;
}

.main-pokemon {
  flex-direction: column;
  background-color: rgb(197, 197, 235);
  border: 1px solid black;
  padding: .5em 0.5em .5em 1em;
}

.container-evs {
  margin-top: 2em;
}

.ev-attribute {
  display: flex;
  margin: 0 0 0.5em 0.2em;
}

.ev-value {
  width: 15%;
}

.ev-slider {
  width: 75%;
  padding-left: 5%;
  padding-top: 0.3em;
}

.mat-ev-field {
  width: 100%;
}

.mat-ev-slider {
  width: 100%;
}

.container-target-pokemon {
  display: flex;
  padding: .5em;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  padding: .5em 0.5em .5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
}

.example-card {
  width: 100%;
  padding: 1.5em;
  margin: 0.5em 1em 0 1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

