<div>
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <pre>{{ content() }}</pre>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    @if (hasPokemon) {
      <app-segmented-control class="export-sps-toggle" ariaLabel="Stat point unit" data-cy="export-sps-evs-toggle" [options]="pointsModeOptions" [value]="useSpsMode" (valueChange)="useSpsMode = $event; buildContent()" />
    }
    <button mat-flat-button mat-dialog-close>Close</button>
    <button mat-flat-button cdkFocusInitial (click)="copy()" data-cy="export-modal-copy">{{ copyText() }}</button>
  </mat-dialog-actions>
</div>
