:host {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.input-select {
  width: 100%;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  width: 2em;
  margin-top: -1px;
}
