.container {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}

.icon-tatsugiri {
  width: auto;
  height: 1.8em;
  cursor: pointer;
}

.icon-booster {
  width: auto;
  height: 2em;
  cursor: pointer;
}

.input-select {
  width: 100%;
}
