<div class="container">
  @if (isDesktopDevice()) {
    <app-header />
  }

  @if (isDesktopDevice() && menuStore.oneVsOneActivated()) {
    <app-simple-calc />
  }

  @if (isDesktopDevice() && menuStore.oneVsManyActivated()) {
    <app-multi-calc />
  }

  @if (isDesktopDevice() && menuStore.manyVsOneActivated()) {
    <app-multi-calc />
  }

  @if (isDesktopDevice() && menuStore.speedCalculatorActivated()) {
    <app-speed-calculator />
  }

  @if (!isDesktopDevice()) {
    <app-header-mobile />
  }

  @if (!isDesktopDevice() && !menuStore.speedCalculatorActivated()) {
    <app-simple-calc-mobile />
  }

  @if (!isDesktopDevice() && menuStore.speedCalculatorActivated()) {
    <app-speed-calculator-mobile />
  }
</div>
