.container {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 1280px;
  min-height: 800px;
}

@media only screen and (max-width: 1279px) {
  .container {
    min-width: auto;
    min-height: auto;
  }
}
