:host {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 1 10em;
  max-width: 10em;
  min-width: 0;
}

.pokemon-input-icon {
  position: absolute;
  right: 6px;
  pointer-events: none;
  font-size: 16px;
  width: 16px;
  height: 16px;
  color: var(--text);
  opacity: 0.5;
}

.pokemon-input {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 3px;
  outline: none;
  background-color: var(--widget-background);
  color: var(--text);
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  &.with-search-icon {
    padding-right: 26px;
  }
}
