<app-team
  #teamComponent
  class="team"
  [pokemonId]="pokemonOnEditId()"
  [isAttacker]="menuStore.oneVsManyActivated()"
  [optimizedEvs]="optimizedEvs()"
  [optimizedNature]="optimizedNature()"
  (teamMemberSelected)="pokemonOnEditId.set($event)"
  (optimizeRequested)="handleOptimizeRequest($event)"
  (optimizationApplied)="handleOptimizationApplied()"
  (optimizationDiscarded)="handleOptimizationDiscarded()" />

<app-teams (pokemonSelected)="pokemonOnEditId.set($event)" />
<app-field />

<app-target-pokemon
  class="target-pokemon"
  [damageResults]="damageResults()"
  [isAttacker]="menuStore.manyVsOneActivated()"
  (targetActivated)="targetActivated($event)"
  (targetRemoved)="pokemonOnEditId.set(store.team().activePokemon().id)"
  (targetsImported)="targetsImported()"
  (orderChanged)="orderChanged($event)" />
