.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  row-gap: 1em;
  color: var(--text);
  margin: 1em 1em 0em 1em;
}

.teams-field {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.target-pokemon {
  grid-column-start: 1;
  grid-column-end: 3;
}
