:host {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  grid-column-gap: 1em;
  margin: 1em;
}

.team {
  grid-row-start: 1;
  grid-row-end: 3;
}

.target-pokemon {
  grid-column-start: 1;
  grid-column-end: 3;
}
