.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(475px, 1fr);
  grid-column-gap: 1em;
  row-gap: 1em;
  background-color: rgb(252, 248, 248);
  color: rgb(88, 88, 90);
  margin: 0 1em 0em 1em;
}

.target-pokemon {
  grid-column-start: 1;
  grid-column-end: 3;
}
