<div class="container">
  <app-team [pokemonId]="pokemonOnEditId()" [isAttacker]="menuStore.oneVsManyActivated()" />

  <div class="teams-field">
    <app-teams />
    <app-field />
  </div>

  <div class="target-pokemon">
    <app-target-pokemon
      [damageResults]="damageResults()"
      [isAttacker]="menuStore.manyVsOneActivated()"
      [showDamageDescription]="!activeAttacker().isDefault"
      (targetActivated)="pokemonOnEditId.set($event)"
      (targetRemoved)="pokemonOnEditId.set(store.team().activePokemon().id)"
      (targetsImported)="targetsImported()" />
  </div>
</div>
