<div class="form-row">
  <input #typehead type="text" [formControl]="formControl"
    [matAutocomplete]="autoPokemon" (click)="onClick()" (blur)="onBlur($event)">
  <mat-autocomplete #autoPokemon="matAutocomplete" (optionSelected)="onValueSelected($event.option.value)">
    <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
      <mat-option *cdkVirtualFor="let value of filteredValues | async" [value]="value">
        {{ value }}
      </mat-option>
    </cdk-virtual-scroll-viewport>    
  </mat-autocomplete>
</div>