<div class="field">
  <div class="header-left-pokemon">
    <span class="title-left-pokemon">Field</span>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="field.tabletsOfRuinActive"></mat-checkbox>Tablets Of Ruin (-atk)
  </div>
  <div>
    <mat-checkbox [(ngModel)]="field.swordOfRuinActive"></mat-checkbox>Sword Of Ruin Active (-def)
  </div>
  <div>
    <mat-checkbox [(ngModel)]="field.vesselOfRuinActive"></mat-checkbox>Vessel Of Ruin (-spa)
  </div>
  <div>
    <mat-checkbox [(ngModel)]="field.beadsOfRuinActive"></mat-checkbox>Beads Of Ruin (-spd)
  </div>
</div>