.field {
  background-color: rgb(240, 236, 236);
  border-radius: 1%;
  margin: 1em 1em 0 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(40, 41, 41);
  font-size: large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.field-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3em;
  margin: 1em;
}

.title {
  color: white;
  margin-left: 0.8em;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em;
}

.max-width {
  width: 100%;
}

.button-group mat-button-toggle {
  flex: 1 1 0px;
}

.botton-space {
  margin-bottom: 1em;
}

.rooms-section {
  margin-top: 1em;
}

.defenders {
  margin-bottom: 1em;
}

.field-subtitle {
  margin-bottom: 1em;
}

.collapse-button {
  display: block;
  color: white;
  font-size: xx-large;
  margin-right: 0.5em;
  margin-top: -0.2em;
}

.status-tailwind {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.status {
  display: flex;
  align-items: center;
  margin-top: 0.2em;
}

@media only screen and (max-width: 768px) {
  .field {
    margin-top: 0em;
    margin-right: 0em;
  }

  .field-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 0em;
  }

  .field-subtitle {
    margin-top: 1em;
    margin-bottom: 0em;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;  
  }

  .collapse-button {
    display: block;
    color: white;
    font-size: xx-large;
    margin-right: 0.5em;
    margin-top: -0.2em;
  }
}