<app-widget>
  <div class="container">
    <h1>How to use</h1>

    <div class="description">
      <p>The <strong>eSchool</strong> channel has created a comprehensive video covering the features of VGC Multi Calc. In this video, you’ll learn everything from basic functions to advanced tools.</p>

      <p>The video also includes automatic English voiceover for non-Portuguese speakers.</p>

      <p>
        Be sure to check out the <a href="https://www.youtube.com/@eSchoolpoke" target="_blank" rel="noopener noreferrer"><strong>eSchool</strong></a> channel, they regularly publish excellent content about Pokémon VGC.
      </p>
    </div>

    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/nzplxggBeGI?si=2pnc4EzeJY99tClg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen> </iframe>
    </div>
  </div>
</app-widget>
