.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 8em;
  height: 6em;
}

.tab:hover {
  cursor: pointer;
  font-weight: 500;
  border-bottom: solid 2px;
  border-color: var(--primary);
  background-color: var(--highlight);
}

.tab-label:hover {
  cursor: pointer;
}

.pokemon-image-small {
  width: 5em;
  height: auto;
}

.active-tab {
  font-weight: 500;
  border-bottom: solid 2px;
  border-color: var(--primary);
  background-color: var(--highlight);
}
