.damage-description {
  display: flex;
  gap: var(--space-lg);
  color: var(--text-strong);
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  min-width: 34em;
}

.damage-rolls {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.filters {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  margin-top: var(--space-lg);
}

.target-pokemon {
  margin-top: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34em, 1fr));
  grid-auto-rows: minmax(16em, 1fr);
  column-gap: var(--space-lg);
  row-gap: var(--space-lg);
}

.add-target-card {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  box-sizing: border-box;
  height: 100%;
  background-color: var(--highlight);
}

.add-target-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  height: 100%;
}

.add-target-placeholder .placeholder-image {
  width: 120px;
  height: 120px;
}

.filters-label {
  font-weight: 600;
  color: var(--text-strong);
}

.select-pokemon-fixed {
  width: auto;
}

.select-pokemon-filter {
  width: 17em;
}

.boost-select {
  width: 8em;
}

.boost-select.boost-select-first {
  margin-left: auto;
}

.order-toggle {
  align-self: center;
}
