<app-widget [title]="title()" data-cy="opponent-widget">
  <right-header>
    <div class="buttons">
      <app-roll-config [(config)]="rollLevelConfig" (rollLevelChange)="handleRollLevelChange($event)" />

      <mat-slide-toggle class="order-toggle" [checked]="menuStore.orderByDamage()" (change)="menuStore.toggleOrderByDamage()" [labelPosition]="'before'">Order by Damage</mat-slide-toggle>

      @if (!isAttacker()) {
        <mat-slide-toggle class="order-toggle" [checked]="menuStore.oneVsManyBestMoveActivated()" (change)="menuStore.toggleOneVsManyBestMove()" [labelPosition]="'before'">Best Move</mat-slide-toggle>
      }

      <button mat-flat-button (click)="onMetaClick()" data-cy="add-meta-button">{{ metaButtonLabel() }}</button>

      <button mat-flat-button (click)="exportCalcs()" data-cy="export-calcs-button">Export Calcs</button>
      <app-import-pokemon-button [singlePokemon]="false" (pokemonImportedEvent)="pokemonImported($event)" />
      <button mat-flat-button (click)="exportPokemon()" data-cy="export-opponent-pokemon-button">Export</button>
      <button mat-flat-button class="warn" (click)="removeAll()" data-cy="delete-opponent-pokemon-button">Delete all</button>
    </div>
  </right-header>

  <div class="filters">
    <span class="filters-label">Filters</span>

    <app-input-autocomplete
      class="select-pokemon-filter"
      data-cy="pokemon-filter"
      label="Pokémon"
      leftLabel="true"
      [disabled]="!pokemonFilterEnabled()"
      [enableClear]="cardsFilter() !== ''"
      [allValues]="targetPokemonNames()"
      [value]="cardsFilter()"
      (valueChange)="updateCardsFilter($event)"
      (cleared)="clearCardsFilter()" />

    <app-input-autocomplete
      class="select-pokemon-fixed"
      data-cy="set-filter"
      label="Set"
      leftLabel="true"
      inputWidth="18em"
      [emitOnType]="true"
      [disabled]="!setFilterEnabled()"
      [enableClear]="setFilter() !== ''"
      [allValues]="availableSetNames()"
      [value]="setFilter()"
      (valueChange)="updateSetFilter($event)"
      (cleared)="clearSetFilter()" />

    <app-input-autocomplete
      class="select-pokemon-fixed"
      data-cy="team-filter"
      label="Team"
      leftLabel="true"
      inputWidth="18em"
      [disabled]="!teamFilterEnabled()"
      [enableClear]="teamFilter() !== ''"
      [allValues]="teamNames()"
      [value]="teamFilter()"
      (valueChange)="updateTeamFilter($event)"
      (cleared)="clearTeamFilter()" />
  </div>

  <div class="target-pokemon" cdkDropListGroup>
    @for (damageResult of filteredDamageResults(); track getExpansionKey(damageResult)) {
      <app-pokemon-card
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="damageResult.attacker.id"
        [damageResult]="damageResult"
        [rollLevelConfig]="rollLevelConfig()"
        [isAttacker]="isAttacker()"
        (cdkDropListDropped)="drop($event)"
        (targetActivated)="activateTarget($event)"
        (targetRemoved)="targetRemoved.emit()"
        (attackersSeparated)="separateAttackers($event)" />
    }

    @if (!selectPokemonActive() && !anyFilterActive()) {
      <app-add-pokemon-card (pokemonAddedToTeam)="addPokemonToTargets()" />
    }
  </div>
</app-widget>
