.title-box {
  display: flex;
  gap: 2em;
  margin-left: 5em;
}

.title {
  color: var(--text-strong);
  font-weight: 500;
  font-size: clamp(12px, 2vh, 18px);
}

.header-buttons-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-buttons-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.speed-modifier {
  width: 12em;
  height: 2.5em;
}

.speed-scale {
  margin-top: 1.5em;
}
