@use "variables.scss" as *;

.input {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.form-column > input,
.form-row > input {
  width: 96%;
  padding: 0.5em 0em 0.5em 0.5em;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 3px;
  outline: none;
  transition: box-shadow 0.3s ease;
  background-color: var(--widget-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  color: var(--text);
  font-size: $font-size;
}

.form-column > input:focus,
.form-row > input:focus {
  box-shadow: inset 0 0 0 1.2px var(--mat-sys-primary);
}

.clear-button {
  margin-top: 0.6em;
}

@media only screen and (max-width: 768px) {
  .form-column > input,
  .form-row > input {
    font-size: $font-size-mobile;
  }
}
