<div class="input-column" [ngClass]="{ 'input-row': leftLabel() }">
  <label>{{ label() }}</label>
  <input type="text" #autoCompleteInput [formControl]="formControl" [matAutocomplete]="autoPokemon" (click)="onClick()" (blur)="onBlur()" />
  <mat-autocomplete #autoPokemon="matAutocomplete" hideSingleSelectionIndicator="true" (opened)="selected.emit()" (optionSelected)="onValueSelected($event.option.value)" [ngClass]="{ focus: haveFocus() }">
    @for (value of filteredValues | async; track value.key) {
      <mat-option [value]="value.value" (mousedown)="$event.preventDefault()">
        {{ value.key }}
      </mat-option>
    }
  </mat-autocomplete>
</div>
@if (enableClear()) {
  <mat-icon class="clear-button" (click)="cleared.emit()">clear</mat-icon>
}
