<div class="form-column" [ngClass]="{ 'form-row': leftLabel() }">
  <label>{{ label() }}</label>
  <input type="text" [formControl]="formControl" [matAutocomplete]="autoPokemon" (click)="onClick()" (blur)="onBlur()" />
  <mat-autocomplete #autoPokemon="matAutocomplete" hideSingleSelectionIndicator="true" (optionSelected)="onValueSelected($event.option.value)">
    @for (value of filteredValues | async; track value.key) {
      <mat-option [value]="value.value" (mousedown)="$event.preventDefault()">
        {{ value.key }}
      </mat-option>
    }
  </mat-autocomplete>
</div>
