<div class="mobile-calc-container">
  <div #scrollContainer class="scrollable-content" [class.field-tab]="activeBottomTab() === 'field'" (scroll)="onScroll($event)">
    <div [hidden]="activeBottomTab() !== 'results'" [class.tab-active]="activeBottomTab() === 'results'">
      <div class="team-tabs">
        <div class="team-tab" [ngClass]="{ 'active-tab': activeSide() === 'left' }" (click)="activateLeftPokemon()">
          <img class="tab-sprite" src="assets/sprites/pokemon-sv/{{ store.leftPokemon().name }}.png" />
        </div>
        <div class="team-tab" [ngClass]="{ 'active-tab': activeSide() === 'right' }" (click)="activateRightPokemon()">
          <img class="tab-sprite" src="assets/sprites/pokemon-sv/{{ store.rightPokemon().name }}.png" />
        </div>
      </div>

      <div class="attacker-header">
        <app-pokemon-combo-box [pokemonId]="currentPokemon().id" label="" />
        <div class="attacker-actions">
          <app-import-pokemon-button (pokemonImportedEvent)="importPokemon($event)" />
          <app-export-pokemon-button [pokemonId]="currentPokemon().id" />
        </div>
      </div>

      <div class="attacker-build">
        <app-pokemon-build-mobile
          [pokemonId]="currentPokemon().id"
          [showOptimization]="!isCurrentPokemonAttacker()"
          [optimizedEvs]="optimizedEvs()"
          [optimizedNature]="optimizedNature()"
          [optimizationStatus]="optimizationStatus()"
          [showDelete]="false"
          [manageTeamState]="false"
          [isRightSide]="activeSide() === 'right'"
          (pokemonImportedEvent)="importPokemon($event)"
          (optimizationRequested)="handleOptimizeRequest($event)"
          (optimizationApplied)="handleOptimizationApplied()"
          (optimizationDiscarded)="handleOptimizationDiscarded()"
          (evsCleared)="handleEvsCleared()" />
      </div>

      <div class="results-list">
        <div class="result-card">
          <app-pokemon-card [damageResult]="damageResult()" [target]="target()" [rollLevelConfig]="rollLevelConfig()" [isAttacker]="isCurrentPokemonAttacker()" [collapsible]="false" [expanded]="true" (targetActivated)="activateRightPokemon()" />
        </div>

        <app-widget class="role-widget">
          <mat-button-toggle-group class="button-group" [value]="isCurrentPokemonAttacker() ? 'attacker' : 'defender'" (change)="toggleCurrentPokemonRole()">
            <mat-button-toggle value="attacker">Attacker</mat-button-toggle>
            <mat-button-toggle value="defender">Defender</mat-button-toggle>
          </mat-button-toggle-group>
        </app-widget>
      </div>
    </div>

    <div [hidden]="activeBottomTab() !== 'field'" [class.tab-active]="activeBottomTab() === 'field'">
      <app-widget class="settings-widget" [title]="'Settings'">
        <div class="field-configs">
          <div class="roll-config-section">
            <app-roll-config [(config)]="rollLevelConfig" (rollLevelChange)="handleRollLevelChange($event)" />
          </div>
        </div>
      </app-widget>
      <app-field />
    </div>
  </div>

  <div class="bottom-nav" [class.hidden]="!showBottomNav()">
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'results' }" (click)="switchTab('results')">
      <mat-icon>calculate</mat-icon>
      <span>Results</span>
    </div>
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'field' }" (click)="switchTab('field')">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </div>
  </div>
</div>
