.title-box {
  display: flex;
  gap: 1.5em;
  margin-left: 1.5em;
  margin-top: 1em;
  align-items: end;
}

.title-box > * {
  height: 2.5em;
}

.title {
  color: var(--text-strong);
  font-weight: 500;
  font-size: clamp(12px, 2vh, 18px);
}

.header-buttons-section {
  display: flex;
  align-items: end;
  gap: 1em;
}

.header-buttons-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 0.3em;
}

.speed-modifier {
  width: 12em;
  height: 2.5em;
}

.speed-scale {
  margin-top: 1.5em;
}

.select-filter {
  width: 16em;
}

.select-usage {
  width: 6em;
}

.select-mode {
  width: 11em;
}

.show-my-team {
  white-space: nowrap;
  height: auto;
  align-self: end;
  position: relative;
  top: 0.3em;
}

.select-pokemon {
  width: 11em;
}
