<app-widget [title]="'Speed List'">
  <left-header>
    <div class="title-box">
      <app-input-select label="Regulation" [allValues]="regulationsList" [value]="optionsStore.regulation()" (valueChange)="updateRegulation($event)" />
      <app-input-select class="select-usage" label="Top Usage" [allValues]="topUsageList" [value]="optionsStore.topUsage()" (valueChange)="optionsStore.updateTopUsage($event)" />
      <app-input-select class="select-mode" label="Mode" [allValues]="speedCalculatorModes" [value]="optionsStore.mode()" (valueChange)="optionsStore.updateMode($event)" />
      <app-input-autocomplete
        class="select-pokemon"
        label="Pokémon"
        [enableClear]="true"
        [allValues]="optionsStore.pokemonNamesByReg()"
        [value]="optionsStore.targetName()"
        (valueChange)="optionsStore.updateTargetName($event)"
        (cleared)="optionsStore.clearTargetName()" />
    </div>
  </left-header>
  <right-header>
    <div class="header-buttons-section">
      <div class="header-buttons-text">
        <span class="title">Options to opponent side</span>
        <span>Use Your Team and Field section for more options</span>
      </div>

      <app-opponent-options />
    </div>
  </right-header>

  <div class="speed-scale">
    <app-speed-scale [pokemonId]="pokemonId()" [pokemonEachSide]="28" (pokemonSelected)="pokemonSelected.emit($event)" />
  </div>
</app-widget>
