.container {
  margin: 0.3em 2em 1em 2em;
  padding: 2em;
  background-color: white;
  border-radius: 1%;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  height: 90%;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: large;
}

.title {
  color: black;
  font-weight: 500;
}

.inputs {
  background-color: white;
  margin-top: 2em;
  display: flex;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.poke-paste-input {
  height: 82%;
  padding-left: 0.5em;
  color: rgb(88, 88, 90);
  border-radius: 3px;
  border: 1px solid rgb(133, 129, 129);
}

.error-message-poke-paste {
  background-color: white;
  color: #f44336;
}

.target-pokemon {
  background-color: white;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: minmax(252px, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}


@media only screen and (max-width: 768px) {
  .header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    grid-column-start: 0;
    grid-column-end: 1;
    align-items: flex-start;
  }

  .inputs {
    margin-left: 0em;
    margin-right: 0em;
  }

  .form-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1em;
  }

  .form-row > * {
    flex-basis: 47.5%;
    font-size: smaller;
  }  

  .poke-paste-input {
    width: 95%;
    height: 82%;
    font-size: smaller;
  }

  .target-pokemon {
    grid-column-start: 0;
    grid-column-end: 1;
    margin: 0 0 0 0;
  }

}