<div class="container">
  <div class="header">
    <label class="title" *ngIf="!isAttacker">Defenders</label>
    <label class="title" *ngIf="isAttacker">Attackers</label>
    <li class="form-row">
      <mat-slide-toggle class="show-advanced-options" color="primary" [(ngModel)]="showAdvancedOptions">Show Advanced Options</mat-slide-toggle>
      <div>
        <input class="poke-paste-input" placeholder="PokePaste Link" type="text" matInput (keyup.enter)="addFromPokePaste()" [(ngModel)]="pokePaste">
      </div>
      <button mat-flat-button color="primary" (click)="addFromPokePaste()">Add from Paste</button>
      <button mat-flat-button color="warn" (click)="removeAll()">Remove all</button>
    </li>
  </div>
  <div class="error-message-poke-paste">
    <label>{{ errorMessagePokePaste }}</label>
  </div>

  <div *ngIf="canShowDamageDescription" class="damage-description">
    <div>{{ damageDescription() }}</div>
    <div class="copy-button">
      <mat-icon class="copy-icon" *ngIf="damageDescription()" (click)="copyDamageResult()">content_copy</mat-icon>
      <label *ngIf="copyMessageEnabled">Copied!</label> 
    </div>
  </div>
    
  <div class="target-pokemon">
    <div *ngFor="let target of targets">
      <app-pokemon-card [teamMember]="target" [canSelectSecondPokemon]="canSelectSecondPokemon()"
        (teamMemberActivated)="targetActivated($event)" (secondTeamMemberActivated)="secondTargetActivated($event)"
        (pokemonRemoved)="targetRemoved($event)" />  
    </div>
    <app-add-pokemon-card *ngIf="!selectPokemonActive()" (pokemonAddedToTeam)=addPokemonToTargets()/>
  </div>
</div>