<div class="container">
  <div class="header">
    <label class="title" *ngIf="!isAttacker">Opponent Defenders</label>
    <label class="title" *ngIf="isAttacker">Opponent Attackers</label>
    <li class="form-row">
      <button mat-flat-button color="primary" (click)="importPokemon()">Import</button>
      <button mat-flat-button color="primary" (click)="exportPokemon()">Export</button>
      <button mat-flat-button color="warn" (click)="removeAll()">Remove all</button>
    </li>
  </div>
  
  <div *ngIf="canShowDamageDescription" class="damage-description">
    <div>{{ damageDescription() }}</div>
    <div class="copy-button">
      <mat-icon class="copy-icon" *ngIf="damageDescription()" (click)="copyDamageResult()">content_copy</mat-icon>
      <label *ngIf="copyMessageEnabled">Copied!</label> 
    </div>
  </div>
    
  <div class="target-pokemon">
    <div *ngFor="let target of targets">
      <app-pokemon-card [target]="target" [canSelectSecondPokemon]="canSelectSecondPokemon()"
        (targetActivated)="targetActivated($event)" (secondTargetActivated)="secondTargetActivated($event)"
        (pokemonRemoved)="targetRemoved($event)" (pokemonChanged)="pokemonChanged()" />  
    </div>
    <app-add-pokemon-card *ngIf="!selectPokemonActive()" (pokemonAddedToTeam)=addPokemonToTargets()/>
  </div>
</div>