<div class="header-damage-result">
  <label class="title-left-pokemon">Result</label>
  <label class="subtitle">Use Add as defender button to add more Pokémon</label>
</div>
<div class="target-pokemon">
  <div *ngFor="let target of targets; let myIndex=index;">
    <app-target-pokemon-card [target]="target" (targetChangedEvent)="targetChanged()" (targetRemovedEvent)="targetRemoved($event)"/>
  </div>
</div>
<div class="remove-all-section">
  <button mat-flat-button color="primary" (click)="removeAll()" class="mat-flat-button">Remove all</button>
</div>