.damage-result {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 0.5fr;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding: 0.5em 1.5em 1em 1.5em;
}

.hp-badge {
  display: flex;
  flex-direction: column;
}

.move {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -0.2em;
}

.chip-move {
  width: 50%;
  margin-left: 1em;
}

.label {
  font-weight: 500;
}

.rolls {
  margin-top: 1em;
}

.description-container {
  grid-column-start: 1;
  grid-column-end: 3;
  order: 3;
  height: 2em;
}

.description-with-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.description-text {
  color: black;
  font-weight: 500;
}

.copy-icon {
  cursor: pointer;
}

.roll-level {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
  margin-top: 0.5em;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  display: none !important;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label:not(:only-child) {
  padding-left: 12px;
}

:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
:host ::ng-deep .mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden;
}
