:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-list {
  padding-left: 1.2em;
}

.custom-list li:not(:last-child) {
  margin-bottom: 15px;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0.5em 0.75em 0.75em;
  background-color: var(--highlight);
}

.card img {
  width: 6em;
  height: 6em;
}

.speed-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  row-gap: 0.5em;
  margin-top: 0.5em;
}

.pokemon-name {
  color: var(--text-strong);
  font-weight: 500;
  font-size: clamp(12px, 2vh, 16px);
  margin-bottom: 1em;
}

.note {
  margin-top: auto;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1279px) {
  .note {
    margin-bottom: -1em;
  }
}
