.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(475px, 1fr);
  grid-column-gap: 1em;
  row-gap: 1em;
  background-color: rgb(252, 248, 248);
  color: rgb(88, 88, 90);
  margin: 0 1em 1em 1em;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(255, 255, 255);
  font-size: large;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 1em;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.copy-icon {
  cursor: pointer;
}

.calc-link {
  font-size: medium;
}

.slowking-icon {
  width: 50px;
  height: 50px;
}

.icon {
  width: 30px;
  height: 30px;
}

.title {
  color: black;
  font-weight: 500;
  margin-left: 1em;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2em;
  font-size: medium;
  color: rgb(133, 129, 129);
  margin-left: 2em;
  padding: 1em;
  height: 75%;
}

.menu-option:hover {
  cursor: pointer;
  font-weight: 500;
}

.menu-option {
  display: flex;
  padding: 0.5em;
  align-items: center;
  height: 75%;
}

.top-commands {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.target-pokemon {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-left: 1em;
    padding-right: 0em;
  }

  .right-header {
    column-gap: 0.5em;
  }

  .title {
    margin-left: 1em;
  }

  .container {
    grid-template-columns: 1fr;
    margin: 0em;
  }

  .main-pokemon {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .team {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .field {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}