.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(440px, 1fr);
  grid-column-gap: 1em;
  row-gap: 1em;
  background-color: rgb(252, 248, 248);
  color: rgb(88, 88, 90);
  margin: 1em;
}

.top-commands {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.field {
  grid-column-start: 1;
  grid-column-end: 3;
}

.target-pokemon {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0em;
  }

  .main-pokemon {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .team {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .field {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}