<div class="container">

  <!-- <div class="top-commands">
    <button mat-flat-button color="primary" (click)="uploadData()">Upload your data</button>
    <a target="_blank" [href]="userDataLink">{{ userDataLink }}</a>
  </div> -->

  <div class="main-pokemon">
    <app-main-pokemon [pokemon]="activeOnEditPokemon" (pokemonChangedEvent)="pokemonOnEditChanged()" />
  </div>

  <div class="team">
    <app-team [team]="team" [canShowAsActivated]="canShowAttackerAsActivated" (teamMemberActivatedEvent)="teamMemberActivated($event)"
     (pokemonChangedEvent)="pokemonChanged($event)" (teamChanged)=teamChanged($event) (pokemonAddedToTeamEvent)=pokemonAddedToTeam()/>
  </div>

  <div class="field" *ngIf="showAdvancedOptions">
    <app-field (fieldChangedEvent)="fieldChanged($event)" (criticalHitChangedEvent)="criticalHitChanged($event)"
      (attackerStatusChangedEvent)="attackerStatusChanged($event)" (defenderStatusChangedEvent)="defenderStatusChanged($event)"
      (statsModifiersChangedEvent)="statsModifiersChanged($event)" />
  </div> 

  <div class="target-pokemon">
    <app-target-pokemon [targets]="targets" [canShowAsActivated]="canShowTargetAsActivated" (targetChangedEvent)="targetChanged($event)"
      (allTargetsRemoved)="removeAllTargets()" (targetAdded)="pokemonAddedToTargets()" (targetsAdded)="targetsAdded($event)"
      (advanceOptionsToggled)="manageAdvancedOptions($event)" (targetActivatedEvent)=targetActivated($event) />
  </div>
</div>