.card {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 1em; 
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
}

.card-content {
  flex: 1;
}

.pokemon-image {
  width: 80px;
  height: 80px;
}

.card-buttons {
  align-self: flex-end;
  justify-content: flex-end;
}

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.icon-button .icon-tera {
  width: 20px;
  height: 22px;
}

.icon-button .icon-trash {
  width: 20px;
  height: 21px;
}

.icon-button .icon-tatsugiri {
  height: 22px;
}

.ko-chance {
  display: inline-block;
}

.ko-chance::first-letter {
  text-transform: uppercase;
}