<mat-card class="card" [ngStyle]="{'background-color': cardColor(target.damageResult.koChance)}">
  <mat-card-title-group>
    <mat-card-title>{{ target.pokemon.displayName }}</mat-card-title>
    <mat-card-subtitle>Item: {{ target.pokemon.item }}</mat-card-subtitle>
    <mat-card-subtitle>Nature: {{ target.pokemon.nature }}</mat-card-subtitle>
    <mat-card-subtitle>Ability: {{ target.pokemon.displayAbility }}</mat-card-subtitle>
    <mat-card-subtitle>{{ target.pokemon.evsDescription() }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="target.pokemon.teraTypeActive">Terastalyzed as {{ target.pokemon.teraType }} type
    </mat-card-subtitle>
    <img mat-card-md-image src='https://img.pokemondb.net/sprites/home/normal/{{target.pokemon.spriteName}}.png'>
  </mat-card-title-group>
  <div class="card-container">
    <div class="card-content">
      <br>Damage: {{ target.damageResult.result }}
      <br><label class="ko-chance">{{ target.damageResult.koChance }}</label>
    </div>
    <div class="card-button">
      <button class="icon-button" (click)="toogleCommanderAbility()" *ngIf="target.pokemon.name == 'Dondozo'">
        <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly.png" *ngIf="commanderActivated" />
        <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly-gray.png" *ngIf="!commanderActivated" />
      </button>
      <button class="icon-button" (click)="terastalyzePokemon()" *ngIf="target.pokemon.teraTypeStorage">
        <img class="icon-tera" src="assets/icons/tera-icon.png" *ngIf="target.pokemon.teraTypeActive" />
        <img class="icon-tera" src="assets/icons/tera-icon-gray.png" *ngIf="!target.pokemon.teraTypeActive" />
      </button>
      <button class="icon-button" (click)="removePokemon()">
        <img class="icon-trash" src="assets/icons/trash.png"/>
      </button>
    </div>
  </div>
</mat-card>