<div class="container">
  <app-team [pokemonId]="pokemonId()" [isAttacker]="menuStore.oneVsManyActivated()" (teamMemberSelected)="pokemonId.set($event)" 
    (teamMemberRemoved)="pokemonId.set(store.team().activePokemon().id)"/>
  
  <div>
    <app-teams (teamChanged)="teamChanged($event)"/>
    <app-field />
  </div> 

  <div class="target-pokemon">
    <app-target-pokemon [damageResults]="damageResults()" [isAttacker]="menuStore.manyVsOneActivated()" [showDamageDescription]="!activeAttacker().isDefault()" 
      (targetActivated)="pokemonId.set($event)" (targetRemoved)="pokemonId.set(store.team().activePokemon().id)"
      (targetsImported)="targetsImported()"/>
  </div>
</div>