.header {
  background-color: var(--widget-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-color: var(--widget-background);
  border-width: 1px;
  border-style: solid;
  padding-left: 2.5em;
  padding-right: 0em;
  margin-bottom: 0em;
  margin-left: -2.5em;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
  margin-right: 1.5em;
}

.slowking-icon {
  height: 4em;
  width: auto;
}

.icon {
  height: 2.5em;
  width: auto;
}

.title {
  font-size: clamp(12px, 2vh, 18px);
  font-weight: 500;
  margin-left: 1em;
}

.menu-icon {
  height: 1.5em;
  font-size: 1em;
  vertical-align: middle;
  background: none;
  border: 0;
}

.menu-content {
  width: 15em;
  margin-left: 1em;
}

.menu-title {
  font-size: clamp(12px, 2vh, 18px);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu-item:hover {
  background-color: var(--highlight);
  color: var(--highlight-contrast);
}

.pokemon-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  padding: 0.5em;
}

.pokemon-image {
  height: 2em;
  width: auto;
}
