:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-lg);
  margin: var(--space-lg) var(--space-lg) 0 var(--space-lg);
}

.field {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: var(--space-lg);
}

.pokemon-actions {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  margin-top: 0;
  margin-bottom: var(--space-lg);
  margin-right: var(--space-sm);
  min-height: 2em;
}

.pokemon-actions-left {
  justify-content: left;
}

.pokemon-actions-right {
  justify-content: right;
}
