.ev-slider-container {
  display: grid;
  grid-template-columns: 64px 1fr 40px;
  grid-auto-rows: 50px;
  grid-column-gap: 2em;
}
  
.ev-value {
  width: 100%;
}

.ev-slider {
  width: 95%;
}

.mat-ev-field {
  width: 100%;
  font-size: 14px;
}

.mat-ev-stat-modifier {
  width: 100%;
}

.mat-ev-slider {
  width: 100%;
}
  
.stat-value {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ev-value-input {
  color: rgb(88, 88, 90) !important;
}

@media only screen and (max-width: 768px) {
  .ev-slider-container {
    grid-column-gap: 0em;
  }

  .ev-value {
    width: 87%;
  }

  .mat-ev-field {
    font-size: 14px;
  }

  .mat-ev-stat-modifier {
    width: 90%;
  }

  .ev-slider {
    width: 82%;
    margin-left: 0.5em;
  }

}