<div class="ev-slider-container">
  <div class="ev-value dense-2">
    <mat-form-field appearance="outline" class="mat-ev-field">
      <mat-label>{{ statName }}</mat-label>
      <input type="number" min="0" max="252" matInput [(ngModel)]="ev">
    </mat-form-field>
  </div>
  <div class="dense-2">
    <mat-form-field appearance="outline" class="mat-ev-stat-modifier" *ngIf="showStatsModifier()">
      <mat-select [(value)]="statsModifier">
        <mat-option *ngFor="let statsModifier of statsModifiers" [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="ev-slider">
    <mat-slider class="mat-ev-slider" [min]="calculateMin(ev)" [max]="252" [step]="calculateEvStep(ev)">
      <input matSliderThumb (change)="evChanged()" [(ngModel)]="ev" (input)="beforeEvChanged()">
    </mat-slider>
  </div>
  <div class="stat-value">
    <label>{{ statValue }}</label>
  </div>
</div>