.container {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.2em;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  border: 1px solid;
  min-width: 5em;
  padding: 0.3em;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.6),
    1px -1px 0 rgba(0, 0, 0, 0.6),
    -1px 1px 0 rgba(0, 0, 0, 0.6),
    1px 1px 0 rgba(0, 0, 0, 0.6);
}
