@if (speedDefinition().description[0] === "") {
  <div class="speed-box-down"></div>
} @else {
  <div class="speed-box-up" [ngClass]="{ 'actual-label': isActual() }">
    <label data-cy="speed-box-value">{{ speedDefinition().value }}</label>
  </div>

  <div class="speed-box-down" [ngClass]="{ actual: selected(), 'actual-label': isActual() }" (click)="pokemonSelected.emit(speedDefinition().pokemon)">
    <div [animate.enter]="animation()" class="pokemon-image">
      <img src="assets/sprites/pokemon-sv/{{ speedDefinition().pokemonName }}.png" alt="{{ speedDefinition().pokemonName }}" data-cy="speed-box-pokemon" />
      @for (description of speedDefinition().description; track $index) {
        <label data-cy="speed-box-description">{{ description }}</label>
      }
    </div>
  </div>
}
