<div class="team-tabs">
  @if (editingTarget()) {
    <div class="team-tab active-tab target-tab" (click)="clearEditMode()">
      <img class="tab-sprite" src="assets/sprites/pokemon-sv/{{ editingPokemon()!.name }}.png" />
    </div>

    <div class="team-tab add-tab" (click)="clearEditMode()">
      <mat-icon>close</mat-icon>
    </div>
  } @else {
    @if (shouldShowPokemonTabs()) {
      @for (member of teamMembers(); track member.pokemon.id) {
        @if (!member.pokemon.isDefault) {
          <div
            class="team-tab"
            [ngClass]="{ 'active-tab': effectiveEditingId() === member.pokemon.id, 'second-attacker': isSecondAttacker(member.pokemon.id) }"
            (click)="setActivePokemon(member.pokemon.id)"
            (touchstart)="onTabTouchStart($event, member.pokemon.id)"
            (touchend)="onTabTouchEnd()"
            (touchcancel)="onTabTouchEnd()"
            (contextmenu)="$event.preventDefault()">
            <img class="tab-sprite" src="assets/sprites/pokemon-sv/{{ member.pokemon.name }}.png" />
            @if (isSecondAttacker(member.pokemon.id)) {
              <div class="combine-badge">
                <mat-icon>add</mat-icon>
              </div>
            }
          </div>
        }
      }

      @if (canImportPokemon() || hasDefaultMember()) {
        <div class="team-tab add-tab" [class.active-tab]="isEditingDefault()" (click)="addMember()">
          <mat-icon>add</mat-icon>
        </div>
      }
    }
  }
</div>

@if (pokemon()) {
  <div class="attacker-header">
    <app-pokemon-combo-box [pokemonId]="effectiveEditingId()!" label="" />
    <div class="attacker-actions">
      @if (canImportPokemon() && !editingTarget()) {
        <app-import-pokemon-button (pokemonImportedEvent)="importPokemon($event)" />
      }
      @if (!isEditingDefault()) {
        <app-export-pokemon-button [pokemonId]="effectiveEditingId()!" />
      }
      @if (!editingTarget() && !isEditingDefault()) {
        <div class="delete-pokemon" (click)="removeActivePokemon()" data-cy="delete-team-member-mobile">
          <mat-icon class="icon">delete</mat-icon>
          <label>Delete</label>
        </div>
      }
    </div>
  </div>
}
