.speed-box-up {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 2px solid;
}

.speed-box-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-image img {
  width: 6em;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .pokemon-image img {
    width: 50px;
    height: 50px;
  }

  .speed-box-up {
    border-bottom: 1px solid;
  }
}
