.text-color * {
  color: rgb(88, 88, 90);
}

.center-section {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}

.speed-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 11em;
}

@media only screen and (max-width: 768px) {
  .center-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
  }

  .speed-box {
    height: 8em;
  }
}
