@if (isDesktopDevice()) {
  <app-header/>
}

@if (isDesktopDevice() && data.oneVsOneActivated) {
  <app-simple-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && data.oneVsManyActivated) {
  <app-multi-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && data.manyVsOneActivated) {
  <app-multi-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && data.speedCalculatorActivated) {
  <app-speed-calculator (dataChangedEvent)="updateLocalStorage()"/>
}

@if (!isDesktopDevice()) {
  <app-header-mobile/>
}

@if (!isDesktopDevice() && !data.speedCalculatorActivated) {
  <app-simple-calc-mobile (dataChangedEvent)="updateLocalStorage()"/>
}

@if (!isDesktopDevice() && data.speedCalculatorActivated) {
  <app-speed-calculator-mobile />
}
