@if (isDesktopDevice()) {
  <app-header/>
}

@if (isDesktopDevice() && menuStore.oneVsOneActivated()) {
  <app-simple-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && menuStore.oneVsManyActivated()) {
  <app-multi-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && menuStore.manyVsOneActivated()) {
  <app-multi-calc (dataChangedEvent)="updateLocalStorage()"/>
}

@if (isDesktopDevice() && menuStore.speedCalculatorActivated()) {
  <app-speed-calculator (dataChangedEvent)="updateLocalStorage()"/>
}

@if (!isDesktopDevice()) {
  <app-header-mobile/>
}

@if (!isDesktopDevice() && !menuStore.speedCalculatorActivated()) {
  <app-simple-calc-mobile (dataChangedEvent)="updateLocalStorage()"/>
}

@if (!isDesktopDevice() && menuStore.speedCalculatorActivated()) {
  <app-speed-calculator-mobile />
}
