.data {
  display: flex;
  gap: 2em;
  background-color: var(--highlight);
  margin-top: 0.5em;
  padding: 1em;
}

.pokemon-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-image {
  display: flex;
  justify-content: center;
}

.pokemon-image img {
  width: 8em;
  height: auto;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tera-type-ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15em;
}

.moves {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
  margin-top: 0.2em;
  margin-left: 2em;
}

.reversed-moves {
  margin-left: 0em;
}

.move {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.bps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -1em;
}

.reversed-bps {
  margin-right: 2em;
}

.move-bp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18%;
}

.pokemon-types {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.2em;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: 30%;
  padding: 0.3em;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.evs-titles {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px 1fr 64px 40px;
  grid-column-gap: 1.5em;
  margin-top: 1em;
}

.base-title {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}

.modifier-title {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}

.evs-title {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
}

.ivs-title {
  grid-column: 6 / 7;
  display: flex;
  justify-content: center;
}

.evs {
  display: grid;
  grid-row-gap: 0.2em;
  margin-top: 0.2em;
}

.remaining-evs {
  display: grid;
  grid-template-columns: 64px 64px 80px 38px;
  grid-column-gap: 1.5em;
  margin: 0.5em 0em 1em 0em;
}

.remaining-evs-value {
  display: flex;
  justify-content: center;
}

.bst-label {
  display: flex;
  justify-content: right;
}

.bst-value-label {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.remaining-label {
  display: flex;
  justify-content: end;
}

.nature {
  display: flex;
}

.check-input-section {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}

.moves-label {
  margin-left: 4.3em;
}

.reversed-moves-label {
  margin-left: 2.3em;
}

.bp-label {
  display: flex;
  justify-content: flex-end;
}

.icon-tera {
  width: auto;
  height: 1.8em;
  cursor: pointer;
}

.icon-tatsugiri {
  width: auto;
  height: 1.8em;
  cursor: pointer;
}

.icon-booster {
  width: auto;
  height: 1.8em;
  cursor: pointer;
}

.pokemon-ability {
  display: flex;
  width: 100%;
}

.tera-section {
  gap: 0.9em;
}

.booster-section {
  margin-right: 0.1em;
}
