.data {
  display: flex;
  gap: 2em;
  background-color: var(--highlight);
  margin-top: 0.5em;
  padding: 1em;
}

.pokemon-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-image {
  display: flex;
  justify-content: center;
}

.pokemon-image img {
  width: 8em;
  height: auto;
}

.question-image {
  margin-bottom: 1.15em;
}

.status-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tera-type-ability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15em;
}

.moves {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
  margin-top: 0.2em;
  margin-left: 2em;
}

.reversed-moves {
  margin-left: 0em;
}

.move {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.bps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -0.5em;
  min-width: 1.6em;
}

.reversed-bps {
  margin-right: 2em;
}

.move-bp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18%;
}

.evs-titles {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px 1fr 64px 40px;
  grid-column-gap: 1.5em;
  margin-top: 1em;
}

.base-title {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}

.modifier-title {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}

.evs-title {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
}

.ivs-title {
  grid-column: 6 / 7;
  display: flex;
  justify-content: center;
}

.evs {
  display: grid;
  grid-row-gap: 0.2em;
  margin-top: 0.2em;
}

.remaining-evs {
  display: grid;
  grid-template-columns: 64px 64px 80px 38px;
  grid-column-gap: 1.5em;
  margin: 0.5em 0em 1em 0em;
}

.remaining-evs-value {
  display: flex;
  justify-content: center;
}

.bst-label {
  display: flex;
  justify-content: right;
}

.bst-value-label {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.remaining-label {
  display: flex;
  justify-content: end;
}

.moves-label {
  margin-left: 4.3em;
}

.reversed-moves-label {
  margin-left: 2.3em;
}

.bp-label {
  display: flex;
  justify-content: flex-end;
}

.combo-nature {
  width: 17em;
}
