<div class="left-pokemon">
  <div class="header-left-pokemon">
    <span class="title-left-pokemon">Attacking pokemon</span>
  </div>
  <div>
    <li class="form-row">
      <label>Pokémon</label>
      <input type="text" placeholder="Choose Pokémon" matInput [formControl]="controlPokemonName"
        [matAutocomplete]="autoPokemon">
      <mat-autocomplete #autoPokemon="matAutocomplete" (optionSelected)="onPokemonSelected($event.option.value)">
        <mat-option *ngFor="let pokemonName of filteredPokemonNames | async" [value]="pokemonName">
          {{pokemonName}}
        </mat-option>
      </mat-autocomplete>
    </li>
    <li class="form-row">
      <label>Nature</label>
      <input type="text" placeholder="Choose Nature" [formControl]="controlNature" [matAutocomplete]="autoNature">
      <mat-autocomplete #autoNature="matAutocomplete" (optionSelected)="onNatureSelected($event.option.value)">
        <mat-option *ngFor="let nature of filteredNatures | async" [value]="nature">
          {{nature}}
        </mat-option>
      </mat-autocomplete>
    </li>
    <li class="form-row">
      <label>Item</label>
      <input type="text" placeholder="Choose Nature" [formControl]="controlItem" [matAutocomplete]="autoItem">
      <mat-autocomplete #autoItem="matAutocomplete" (optionSelected)="onItemSelected($event.option.value)">
        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </li>
    <li class="form-row">
      <label>Ability</label>
      <input type="text" placeholder="Choose Ability" [formControl]="controlAbility" [matAutocomplete]="autoAbility">
      <mat-autocomplete #autoAbility="matAutocomplete" (optionSelected)="onAbilitySelected($event.option.value)">
        <mat-option *ngFor="let ability of filteredAbilities | async" [value]="ability">
          {{ability}}
        </mat-option>
      </mat-autocomplete>
    </li>
    <li class="form-row">
      <label>TeraType</label>
      <mat-checkbox [ngModel]="pokemon.teraTypeActive" (change)="pokemon.changeTeraStatus($event.checked)"></mat-checkbox>
      <input type="text" placeholder="Choose Tera Type" [formControl]="controlTeraType"
        [matAutocomplete]="autoTeraType">
      <mat-autocomplete #autoTeraType="matAutocomplete" (optionSelected)="onTeraTypeSelected($event.option.value)">
        <mat-option *ngFor="let teraType of filteredTeraTypes | async" [value]="teraType">
          {{teraType}}
        </mat-option>
      </mat-autocomplete>
    </li>
    <li class="form-row">
      <label>Move</label>
      <input type="text" placeholder="Choose Move" [formControl]="controlMove" [matAutocomplete]="autoMove">
      <mat-autocomplete #autoMove="matAutocomplete" (optionSelected)="onMoveSelected($event.option.value)">
        <mat-option *ngFor="let move of filteredMoves | async" [value]="move">
          {{move}}
        </mat-option>
      </mat-autocomplete>
    </li>
  </div>
  <div class="left-pokemon-evs">
    <app-ev-slider statName="HP" [(ev)]="pokemon.evs.hp" [statValue]="pokemon.hp" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
    <app-ev-slider statName="ATK" [(ev)]="pokemon.evs.atk" [statValue]="pokemon.atk" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
    <app-ev-slider statName="DEF" [(ev)]="pokemon.evs.def" [statValue]="pokemon.def" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
    <app-ev-slider statName="SPA" [(ev)]="pokemon.evs.spa" [statValue]="pokemon.spa" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
    <app-ev-slider statName="SPD" [(ev)]="pokemon.evs.spd" [statValue]="pokemon.spd" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
    <app-ev-slider statName="SPE" [(ev)]="pokemon.evs.spe" [statValue]="pokemon.spe" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
  </div>
  <div class="remaining-evs">
    <label>Remaining: {{ MAX_EVS - pokemon.totalEvs() }}</label>
  </div>
  <div class="left-pokemon-buttons">
    <button mat-flat-button color="primary" (click)="addPokemon()" class="mat-flat-button">Add as defender</button>
    <button mat-flat-button color="primary" (click)="addFromPokePaste()" class="mat-flat-button">Add from Paste</button>
  </div>
  <div>
    <li class="form-row">
      <label>Paste Link</label>
      <input type="text" matInput [(ngModel)]="pokePaste">
    </li>
  </div>
</div>