.attacker-pokemon {
  margin-top: 1em;
  margin-left: 1em;
  background-color: rgb(240, 236, 236);
  border-radius: 1%;
  height: 100%;
}

.header-attacker-pokemon {
  background-color: rgb(40, 41, 41);
  font-size: large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.title-attacker-pokemon {
  color: white;
  margin-left: 0.8em;
}

.info-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-row-gap: 0.5em;
  padding: 0.5em 1em 0 1em;
}

.info-label {
  padding: .5em 0.5em .5em 0;
}

.check-input-section {
  display: grid;
  grid-template-columns: 0fr 1fr;
  margin-left: 0.4em;
}

.check-input-section-checkbox {
  margin-top: -0.1em;
}

.check-input-section-input {
  margin-top: 0.2em;
  margin-left: -0.5em;
}

.check-input-section-without-checkbox {
  grid-column-start: 1;
  grid-column-end: 3;
}

.attacker-pokemon-evs {
  margin-top: 0.3em;
  padding: 1em;
  display: grid;
  grid-row-gap: 0.5em;
}

.remaining-evs {
  padding-left: 1em;
  display: flex;
  justify-content: left;
}

.mat-flat-button {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .attacker-pokemon {
    margin-left: 0em;
  }

  .attacker-pokemon-evs {
    padding-top: 1em;
    padding-right: 0em;
    padding-bottom: 1em;
    padding-left: 0.5em;
  }
}