<div class="attacker-pokemon">
  <div class="header">
    <span class="title">Team</span>

    <div>
      <mat-tab-group animationDuration="0ms" (selectedIndexChange)="activatePokemon($event)">
        <mat-tab *ngFor="let teamMember of team">
          <ng-template mat-tab-label>
            <img class="pokemon-image-small" src='https://img.pokemondb.net/sprites/scarlet-violet/normal/{{ teamMember.pokemon.spriteName }}.png'>
            {{teamMember.pokemon.name}}
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="container">
    <div *ngIf="pokemon.isDefault()" class="left-container">
      <div>
        <label>Pokémon</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.name" [allValues]="allPokemonNames" (valueChange)="onPokemonSelected($event)" (valueManuallySelected)="onValueManuallySelected($event)"/>
      </div>
    </div>
    <div *ngIf="!pokemon.isDefault()" class="pokemon">
      <img class="pokemon-image" src='https://img.pokemondb.net/sprites/home/normal/{{ pokemon.spriteName }}.png'>
      <div>
        <label>Pokémon</label>
      </div>
      <app-input-autocomplete [(value)]="pokemon.name" [allValues]="allPokemonNames" (valueChange)="onPokemonSelected($event)" (valueManuallySelected)="onValueManuallySelected($event)"/>
    </div>
    <div class="center-infos">
      <div class="details">
        <div>
          <div>
            <label>Status</label>
          </div>
          <div>
            <app-input-autocomplete [(value)]="pokemon.status" [allValues]="statusConditions"/>
          </div>
        </div>

        <div>
          <div>
            <label>Tera Type</label>
          </div>
          <div class="check-input-section">
            <mat-checkbox [ngModel]="pokemon.teraTypeActive" (change)="pokemon.changeTeraStatus($event.checked)" [disabled]="pokemon.isTerapagosStellar()"></mat-checkbox>
            <app-input-autocomplete [(value)]="pokemon.teraType" [allValues]="allTeraTypes" [disabled]="pokemon.isTerapagosStellar()"/>
          </div>
        </div>
      </div>
      <div>
        Teste
      </div>
      <div class="item-ability">
        <div>
          <div>
            <label>Item</label>
          </div>
          <app-input-autocomplete [(value)]="pokemon.item" [allValues]="allItemsNames"/>
        </div>  

        <div>
          <div>
            <label>Ability</label>
          </div>
          <div class="check-input-section">
            <div *ngIf="pokemon.isParadoxAbility()">
              <mat-checkbox [(ngModel)]="pokemon.paradoxAbilityActivated"></mat-checkbox>
            </div>
            <div [ngClass]="!pokemon.isParadoxAbility() ? 'check-input-section-without-checkbox' : ''">
              <app-input-autocomplete [(value)]="pokemon.ability" [allValues]="availableAbilities"/>
            </div>            
          </div>
        </div>
      </div>  
    </div>
    <div>
      <div class="edit-attacks-button">
        <label>Moves</label>
        <div *ngIf="pokemon.moveSet.activeMove.possibleHits.length > 0" class="multihit">
          <label *ngIf="pokemon.activeMoveName != 'Rage Fist'" class="hits-label">Hits</label>
          <label *ngIf="pokemon.activeMoveName == 'Rage Fist'" class="hits-label">Hits Taken</label>
          <app-input-autocomplete [(value)]="pokemon.moveSet.activeMove.hits" [allValues]="pokemon.moveSet.activeMove.possibleHits" (valueChange)="onHitsSelected()"/>
        </div>
      </div>
      <div>
        <div class="move">
          <mat-checkbox [ngModel]="pokemon.move1Name == pokemon.activeMoveName" (change)="activateMove(pokemon.moveSet.move1)"/>
          <app-input-autocomplete [(value)]="pokemon.moveSet.move1.name" [allValues]="allMoveNames"/>
        </div>

        <div class="move">
          <mat-checkbox [ngModel]="pokemon.move2Name == pokemon.activeMoveName" (change)="activateMove(pokemon.moveSet.move2)"/>
          <app-input-autocomplete [(value)]="pokemon.moveSet.move2.name" [allValues]="allMoveNames"/>
        </div>

        <div class="move">
          <mat-checkbox [ngModel]="pokemon.move3Name == pokemon.activeMoveName" (change)="activateMove(pokemon.moveSet.move3)"/>
          <app-input-autocomplete [(value)]="pokemon.moveSet.move3.name" [allValues]="allMoveNames"/>
        </div>

        <div class="move">
          <mat-checkbox [ngModel]="pokemon.move4Name == pokemon.activeMoveName" (change)="activateMove(pokemon.moveSet.move4)"/>
          <app-input-autocomplete [(value)]="pokemon.moveSet.move4.name" [allValues]="allMoveNames"/>
        </div>
      </div>
    </div>
    <div *ngIf="!pokemon.isDefault()" class="right-container">
      <div class="evs">
        <app-ev-slider statName="HP" [statValue]="pokemon.hp" [(ev)]="pokemon.evs.hp" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
        
        <app-ev-slider data-cy="stat-atk" statName="ATK" [statValue]="pokemon.modifiedAtk()" [(ev)]="pokemon.evs.atk" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()" 
          [(statsModifier)]="pokemon.boosts.atk" [nature]="pokemon.nature"/>
    
        <app-ev-slider statName="DEF" [statValue]="pokemon.modifiedDef()" [(ev)]="pokemon.evs.def" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.def" [nature]="pokemon.nature"/>
        
        <app-ev-slider data-cy="stat-spa" statName="SPA" [statValue]="pokemon.modifiedSpa()" [(ev)]="pokemon.evs.spa" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spa" [nature]="pokemon.nature"/>
        
        <app-ev-slider statName="SPD" [statValue]="pokemon.modifiedSpd()" [(ev)]="pokemon.evs.spd" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spd" [nature]="pokemon.nature"/>
        
        <app-ev-slider statName="SPE" [statValue]="pokemon.modifiedSpe()" [(ev)]="pokemon.evs.spe" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spe" [nature]="pokemon.nature"/>
      </div>
      <div class="remaining-evs">
        <label>Remaining: {{ MAX_EVS - pokemon.totalEvs() }}</label>
      </div>
    </div>
  </div>
  
</div>
<router-outlet></router-outlet>