.container {
  display: grid;
  row-gap: 1em;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  height: 94%;
  padding: 1em 1.5em 1em 1.5em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-header {
  display: grid;
}

.title {
  grid-row: 1;
  margin-bottom: 2.5em;
}

.data {
  display: flex;
  gap: 0.5em;
  border: solid 1px #f9f7fc;
  border-radius: 12px;
  background-color: #ded2f0;
  padding: 1em;
}

.pokemon-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-tera {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tera-checkbox {
  margin-top: 0.4em;
}

.tera-label {
  margin-left: 2.3em;
}

.moves {
  display: flex;
  flex-direction: column;
  margin-top: 0.1em;
}

.evs {
  display: grid;
  grid-row-gap: 0.7em;
  margin-top: 1em;
}

.info-label {
  margin-bottom: -0.35em;
}

.title {
  color: black;
  font-weight: 500;
  font-size: large;
}

.check-input-section {
  display: flex;  
  align-items: center;
}

.pokemon-image {
  display: flex;
  justify-content: center;
}

.pokemon-image img {
  width: 120px;
  height: 120px;
}

.pokemon-image-small {
  width: 60px;
  height: 60px;
  margin-bottom: 1em;
  margin-right: 0.3em;
}

.move {
  display: flex;
  align-items: center;
}

.evs-titles {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px 1fr 64px 40px;
  grid-column-gap: 1.5em;
  margin-bottom: -2em;
}

.base-title {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}

.modifier-title {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
}

.evs-title {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
}

.ivs-title {
  grid-column: 6 / 7;
  display: flex;
  justify-content: center;
}

.remaining-evs {
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
  grid-column-gap: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nature {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.remaining-evs-label {
  grid-column: 3 ;
  display: flex;
  align-items: center;
  margin-left: 1.5em;
}

.remaining-evs-value {
  grid-column: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  align-items: center;
}

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
  margin-top: 0.3em;
}

.icon-button .icon-tera {
  width: 20px;
  height: 22px;
}

.icon-button .icon-tatsugiri {
  width: 30px;
  height: 30px;
}

.pokemon-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  margin-top: -0.4em;
  margin-bottom: -0.8em;
  margin-right: 0.5em;
}

.delete-pokemon {
  display: flex;
  align-items: center;
  gap: 0.2em
}

.delete-pokemon:hover > * {
  cursor: pointer;
  font-weight: 500;
}

.pokemon-types {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 2em;
  gap: 0.2em;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: 30%;
  font-size: small;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left-container {
    row-gap: 0.5em;
  }
  

  .right-container {
    margin-top: 1em;
  }

  .edit-attacks-button {
    margin-left: 0.2em;
  }

  .evs {
    padding: 0em;
    grid-row-gap: 0.5em;
  }

}