<div class="attacker-pokemon">
  <div class="header">
    <span class="title">Build</span>
  </div>
  <div class="container">
    <div *ngIf="pokemon.isDefault()" class="left-container">
      <div class="info-label">
        <label>Pokémon</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.name" [allValues]="allPokemonNames" (valueChange)="onPokemonSelected($event)" (valueManuallySelected)="onValueManuallySelected($event)"/>
      </div>
    </div>
    <div *ngIf="!pokemon.isDefault()" class="left-container">
      <div class="info-label">
        <label>Pokémon</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.name" [allValues]="allPokemonNames" (valueChange)="onPokemonSelected($event)" (valueManuallySelected)="onValueManuallySelected($event)"/>
      </div>
      <div class="info-label">
        <label>Nature</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.nature" [allValues]="allNatureNames"/>
      </div>
      <div class="info-label">
        <label>Item</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.item" [allValues]="allItemsNames"/>
      </div>
      <div class="info-label">
        <label>Ability</label>
      </div>
      <div class="check-input-section">
        <div *ngIf="pokemon.isParadoxAbility()" class="check-input-section-checkbox">
          <mat-checkbox [(ngModel)]="pokemon.paradoxAbilityActivated"></mat-checkbox>
        </div>
        <div class="check-input-section-input" [ngClass]="!pokemon.isParadoxAbility() ? 'check-input-section-without-checkbox' : ''">
          <app-input-autocomplete [(value)]="pokemon.ability" [allValues]="availableAbilities"/>
        </div>
      </div>
      <div class="info-label">
        <label>TeraType</label>
      </div>
      <div class="check-input-section">
        <div class="check-input-section-checkbox">
          <mat-checkbox [ngModel]="pokemon.teraTypeActive" (change)="pokemon.changeTeraStatus($event.checked)"></mat-checkbox>
        </div>
        <div class="check-input-section-input">
          <app-input-autocomplete [(value)]="pokemon.teraType" [allValues]="allTeraTypes"/>
        </div>
      </div>
      <div class="info-label">
        <label>Status</label>
      </div>
      <div>
        <app-input-autocomplete [(value)]="pokemon.status" [allValues]="statusConditions"/>
      </div>
      <div class="edit-attacks-button">
        <label>Moves</label>
        <mat-icon class="edit-icon" *ngIf="!editAttacks" (click)="editMoves()">edit</mat-icon>
        <mat-icon class="edit-icon" *ngIf="editAttacks" (click)="saveMoves()">save</mat-icon>
      </div>
      <div class="no-edit-attacks" *ngIf="!editAttacks">
        <mat-chip-listbox>
          <mat-chip-option *ngIf="pokemon.moveSet.move1" [selected]="pokemon.moveSet.move1 == pokemon.move" (click)="activateMove(pokemon.moveSet.move1)">{{ pokemon.moveSet.move1 }}</mat-chip-option>
          <mat-chip-option *ngIf="pokemon.moveSet.move2" [selected]="pokemon.moveSet.move2 == pokemon.move" (click)="activateMove(pokemon.moveSet.move2)">{{ pokemon.moveSet.move2 }}</mat-chip-option>
          <mat-chip-option *ngIf="pokemon.moveSet.move3" [selected]="pokemon.moveSet.move3 == pokemon.move" (click)="activateMove(pokemon.moveSet.move3)">{{ pokemon.moveSet.move3 }}</mat-chip-option>
          <mat-chip-option *ngIf="pokemon.moveSet.move4" [selected]="pokemon.moveSet.move4 == pokemon.move" (click)="activateMove(pokemon.moveSet.move4)" >{{ pokemon.moveSet.move4 }}</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="edit-attacks" *ngIf="editAttacks">
        <div class="check-input-section-movess">
          <div class="check-input-section-input">
            <app-input-autocomplete [(value)]="pokemon.moveSet.move1" [allValues]="allMoveNames"/>
          </div>
        </div>
        
        <div class="check-input-section-movess">
          <div class="check-input-section-input">
            <app-input-autocomplete [(value)]="pokemon.moveSet.move2" [allValues]="allMoveNames"/>
          </div>
        </div>
        
        <div class="check-input-section-movess">
          <div class="check-input-section-input">
            <app-input-autocomplete [(value)]="pokemon.moveSet.move3" [allValues]="allMoveNames"/>
          </div>
        </div>
        
        <div class="check-input-section-movess">
          <div class="check-input-section-input">
            <app-input-autocomplete [(value)]="pokemon.moveSet.move4" [allValues]="allMoveNames"/>
          </div>
        </div>        
      </div>
    </div>
    <div *ngIf="!pokemon.isDefault()" class="right-container">
      <div class="evs">
        <app-ev-slider statName="HP" [statValue]="pokemon.hp" [(ev)]="pokemon.evs.hp" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"/>
        
        <app-ev-slider statName="ATK" [statValue]="pokemon.atk" [(ev)]="pokemon.evs.atk" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()" 
          [(statsModifier)]="pokemon.boosts.atk" [nature]="pokemon.nature"/>
    
        <app-ev-slider statName="DEF" [statValue]="pokemon.def" [(ev)]="pokemon.evs.def" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.def" [nature]="pokemon.nature"/>
        
        <app-ev-slider statName="SPA" [statValue]="pokemon.spa" [(ev)]="pokemon.evs.spa" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spa" [nature]="pokemon.nature"/>
        
        <app-ev-slider statName="SPD" [statValue]="pokemon.spd" [(ev)]="pokemon.evs.spd" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spd" [nature]="pokemon.nature"/>
        
        <app-ev-slider statName="SPE" [statValue]="pokemon.spe" [(ev)]="pokemon.evs.spe" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
          [(statsModifier)]="pokemon.boosts.spe" [nature]="pokemon.nature"/>
      </div>
      <div class="remaining-evs">
        <label>Remaining: {{ MAX_EVS - pokemon.totalEvs() }}</label>
      </div>
    </div>
  </div>
  
</div>
<router-outlet></router-outlet>