.attacker-pokemon {
  margin-top: 1em;
  margin-left: 2em;
  padding: 2em;
  background-color: white;
  border-radius: 1%;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  height: 92%;
}

.header {
  font-size: large;
}

.title {
  color: black;
  font-weight: 500;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  grid-row-gap: 0.5em;
  margin-top: 2em;
}

.left-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-row-gap: 0.5em;
}

.edit-attacks {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
}

.edit-attacks-button {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  color: rgb(88, 88, 90);
}

.info-label {
  padding: .5em 0.5em .5em 0;
  color: rgb(88, 88, 90);
}

.check-input-section {
  display: grid;
  grid-template-columns: 0fr 1fr;
  margin-left: 0.4em;
}

.check-input-section-moves {
  margin-left: 0.4em;
}

.check-input-section-checkbox {
  margin-top: -0.1em;
}

.check-input-section-input {
  margin-top: 0.2em;
  margin-left: -0.5em;
}

.check-input-section-without-checkbox {
  grid-column-start: 1;
  grid-column-end: 3;
}

.evs {
  margin-top: 2em;
  display: grid;
  grid-row-gap: 1.5em;
}

.remaining-evs {
  display: flex;
  justify-content: left;
  margin-top: 1em;
}

.mat-flat-button {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .attacker-pokemon {
    margin-left: 0em;
    padding: 1em 0em 0em 1em;
    height: 100%;
    border-radius: 0%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .right-container {
    margin-left: -0.1em;
    margin-right: 1em;
  }

  .edit-attacks-button {
    margin-left: 0.2em;
  }

  .evs {
    padding: 0em;
    grid-row-gap: 0.5em;
  }

}