<app-widget [title]="title()" data-cy="opponent-widget">
  <right-header>
    <div class="buttons">
      <app-roll-config (rollLevelChange)="rollLevelConfig.set($event)" />

      <mat-slide-toggle [checked]="order" (change)="toogleOrder()">Order by Damage</mat-slide-toggle>
      <app-import-pokemon-button [singlePokemon]="false" (pokemonImportedEvent)="pokemonImported($event)" />

      <button mat-flat-button (click)="exportPokemon()" data-cy="export-opponent-pokemon-button">Export</button>
      <button mat-flat-button class="warn" (click)="removeAll()" data-cy="delete-opponent-pokemon-button">Delete all</button>
    </div>
  </right-header>

  <div class="target-pokemon" cdkDropListGroup>
    @for (damageResult of damageResults(); track $index) {
      <app-pokemon-card
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="damageResult.attacker.id"
        [damageResult]="damageResult"
        [rollLevelConfig]="rollLevelConfig()"
        [isAttacker]="isAttacker()"
        (cdkDropListDropped)="drop($event)"
        (targetActivated)="activateTarget($event)"
        (targetRemoved)="targetRemoved.emit()"
        (attackersSeparated)="separateAttackers($event)" />
    }

    @if (!selectPokemonActive()) {
      <app-add-pokemon-card (pokemonAddedToTeam)="addPokemonToTargets()" />
    }
  </div>
</app-widget>
