<app-widget [title]="title()">
  <left-header>
    @if (damageDescription()) {
      <div class="damage-description">
        <div class="damage-rolls">
          <span>{{ damageDescription() }}</span>
          @if (rolls().length > 0) {
            <span>Rolls: {{ rolls() }}</span>
          }
        </div>
        <div class="copy-button" (click)="copyDamageResult()" matTooltip="Copy">
          <mat-icon>content_copy</mat-icon>
          @if (copyMessageEnabled) {
            <label>Copied!</label>
          }
        </div>
      </div>
    }
  </left-header>
  <right-header>
    <div class="buttons">
      <mat-slide-toggle [checked]="order" (change)="toogleOrder()">Order by Damage</mat-slide-toggle>
      <button mat-flat-button (click)="importPokemon()" data-cy="import-pokemon-to-opponent">Import</button>
      <button mat-flat-button (click)="exportPokemon()" data-cy="export-opponent-pokemon-button">Export</button>
      <button mat-flat-button class="warn" (click)="removeAll()" data-cy="delete-opponent-pokemon-button">Delete all</button>
    </div>
  </right-header>

  <div class="target-pokemon">
    @for (damageResult of damageResults(); track damageResult.id) {
      <app-pokemon-card
        [damageResult]="damageResult"
        [canSelectSecondPokemon]="canSelectSecondPokemon()"
        (secondTargetActivated)="secondTargetActivated($event)"
        [isAttacker]="isAttacker()"
        [showDamageDescription]="showDamageDescription()"
        (targetActivated)="activateTarget($event)"
        (targetRemoved)="targetRemoved.emit()" />
    }

    @if (!selectPokemonActive()) {
      <app-add-pokemon-card (pokemonAddedToTeam)="addPokemonToTargets()" />
    }
  </div>
</app-widget>
