.container {
  padding: 1em 1.5em 1.5em 1.5em;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  color: black;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  font-weight: 500;
  font-size: clamp(12px, 2vh, 18px);
}

.title-damage-description {
  display: flex;
  align-items: flex-start;
}

.damage-description {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-left: 1em;
}

.damage-rolls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.copy-button {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.error-message-poke-paste {
  background-color: white;
  color: #f44336;
}

.target-pokemon {
  background-color: white;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: minmax(16em, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
