.damage-description {
  display: flex;
  gap: 1em;
  color: var(--text-strong);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  min-width: 34em;
}

.damage-rolls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.copy-button {
  cursor: pointer;
}

.target-pokemon {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: minmax(16em, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
