@use "variables.scss" as *;

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.input-column > mat-select,
.input-row > mat-select {
  flex-grow: 2;
  width: 96%;
  padding: 1.5px 5px 1.5px 5px;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 3px;
  margin-top: 1px;
  outline: none;
  transition: box-shadow 0.3s ease;
  background-color: var(--widget-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  color: var(--text);
  font-size: $font-size;
}

.focus {
  box-shadow: inset 0 0 0 1.8px white;
}

@media only screen and (max-width: 1279px) {
  .input-column > mat-select,
  .input-row > mat-select {
    font-size: $font-size-mobile;
    padding: 2px 10px 2px 10px;
  }
}
