<div class="ev-slider-container" [ngStyle]="gridTemplateColumns()">
  @if (!reduced()) {
    <div class="stat-name">
      <label>{{ statName() }}</label>
    </div>

    <div class="base-stat">
      <label>{{ baseStat() }}</label>
    </div>
  }

  <div class="mod">
    @if (stat() === "hp") {
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier">
        @if (!reduced()) {
          <span matTextSuffix>%</span>
        }

        <input class="ev-value-input" type="number" min="0" max="100" matInput (input)="hpPercentageChanged($event)" [ngModel]="hpPercentage()" data-cy="hp-percentage-value" />
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier">
        <mat-select data-cy="stat-modifier" [value]="statModifier()" (valueChange)="statModifierChanged($event)" [hideSingleSelectionIndicator]="true">
          @for (statsModifier of statsModifiers; track statsModifier) {
            <mat-option [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>

  <div class="ev-value">
    <mat-form-field appearance="outline" class="mat-ev-field">
      @if (reduced()) {
        <mat-label>{{ statNameAcronym() }}</mat-label>
      }
      <input class="ev-value-input" type="number" min="0" max="252" matInput [(ngModel)]="ev" (change)="evChanged()" data-cy="ev-value" />
    </mat-form-field>
  </div>

  <div class="ev-slider" [ngClass]="{ optimized: isOptimized() }">
    <mat-slider class="mat-ev-slider" #slider [min]="calculateMin()" [max]="252" [step]="calculateEvStep()">
      @if (isStatWithBeneficialNature()) {
        <div class="slider-pipe" [style.left]="firstJumpPosition()"></div>
        <div class="tooltip-container" [style.left]="firstJumpPosition()" matTooltip="Jump 1"></div>

        <div class="slider-pipe" [style.left]="secondJumpPosition()"></div>
        <div class="tooltip-container" [style.left]="secondJumpPosition()" matTooltip="Jump 2"></div>

        <div class="slider-pipe" [style.left]="thirdJumpPosition()"></div>
        <div class="tooltip-container" [style.left]="thirdJumpPosition()" matTooltip="Jump 3"></div>

        @if (jumps().length > 3) {
          <div class="slider-pipe" [style.left]="fourthJumpPosition()"></div>
          <div class="tooltip-container" [style.left]="fourthJumpPosition()" matTooltip="Jump 4"></div>
        }
      }
      <input
        matSliderThumb
        [(ngModel)]="ev"
        (input)="beforeChangeEvValue()"
        (change)="evChanged()"
        (keydown)="onKeydown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseleave)="resetMousePosition()"
        (touchstart)="onTouchMove($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="resetTouchPosition()" />
    </mat-slider>
  </div>

  <div class="ev-value">
    <mat-form-field appearance="outline" class="mat-ev-field">
      <input class="ev-value-input" type="number" min="0" max="31" matInput [ngModel]="iv()" (input)="ivChanged($event)" data-cy="iv-value" />
    </mat-form-field>
  </div>

  <div class="stat-value">
    <label>{{ natureModifier() }}{{ statValue() }}</label>
  </div>

  @if (statValue() !== modifiedStat()) {
    <div class="stat-value" [ngStyle]="statValueStyle()">
      <label [matTooltip]="originalWithModifier()" data-cy="stat-modified">{{ modifiedStat() }}</label>
    </div>
  }
</div>
