@use "@angular/material" as mat;

.ev-slider-container {
  display: grid;
  grid-template-columns: 64px 64px 67px 64px 1fr 64px 40px;
  grid-auto-rows: 3.5em;
  grid-column-gap: 1.5em;
}

.mod {
  margin-top: 0.3em;
}

.ev-value {
  width: 100%;
  margin-top: 0.3em;
}

.ev-slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 95%;
  height: 2.5em;
  margin-top: 0.3em;
}

.slider-pipe {
  position: absolute;
  top: 50%;
  bottom: 23%;
  width: 2px;
  background-color: var(--mat-sys-primary);
  z-index: 0;
  cursor: pointer;
}

.tooltip-container {
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  z-index: 2;
  pointer-events: auto;
  background: transparent;
}

.mat-ev-field {
  width: 100%;
}

.mat-ev-stat-modifier {
  width: 100%;
}

.mat-ev-slider {
  z-index: 0;
  width: 100%;
}

.ev-slider.optimized {
  @include mat.slider-overrides(
    (
      active-track-color: var(--neutral-value),
      focus-handle-color: var(--neutral-value),
      handle-color: var(--neutral-value)
    )
  );

  .slider-pipe {
    background-color: var(--neutral-value);
  }
}

.stat-value {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-name {
  display: flex;
  align-items: center;
  justify-content: right;
}

.base-stat {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ev-value-input {
  text-align: center;
}

::ng-deep .mat-mdc-option {
  min-height: 3em !important;
}

input[matinput][type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1279px) {
  .ev-slider-container {
    grid-column-gap: 0.5em;
  }

  .ev-value {
    width: 87%;
  }

  .mat-ev-stat-modifier {
    width: 90%;
  }

  .ev-slider {
    width: 94%;
  }
}
