:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  grid-column-gap: 1em;
  margin: 1em 1em 0em 1em;
}

.team {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.team ::ng-deep app-widget {
  height: auto;
}

.team ::ng-deep app-widget .container {
  height: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
}

.coverage-tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  gap: 1em;
  margin-bottom: 1em;
  align-items: start;
}
