<app-widget [title]="'Teams'" data-cy="teams-widget">
  <div class="teams-container">
    <div class="teams-top-box">
      <div class="team-name">
        <label>Name</label>
        <mat-form-field appearance="outline" class="team-name-input">
          <input type="text" matInput [ngModel]="store.team().name" (input)="updateTeamName($event)" data-cy="team-name" />
        </mat-form-field>
        @if (allowSecondTeamSelection()) {
          <label class="help-label" data-cy="multi-selection-help">Ctrl+Click to select a second team</label>
        }
      </div>
      <div class="team-buttons">
        <app-import-pokemon-button [singlePokemon]="false" (pokemonImportedEvent)="pokemonImported($event)" />
        <button mat-flat-button (click)="export()" [disabled]="store.team().onlyHasDefaultPokemon()" data-cy="export-team-button">Export</button>
        <button mat-flat-button class="warn" (click)="deleteTeam()" [disabled]="store.team().onlyHasDefaultPokemon()" data-cy="delete-team-button">Delete</button>
      </div>
    </div>
    <div class="teams-carousel">
      <button mat-icon-button (click)="prevPage()" [appHidden]="hiddenPrevButton()" data-cy="teams-to-left-button">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="teams-boxes">
        @for (team of teamsCurrentPage(); track team.id) {
          <app-team-box animate.enter="fade-in" [team]="team" [isSecondTeam]="isSecondTeam(team)" [allowSecondTeamSelection]="allowSecondTeamSelection()" (teamActivated)="activateTeam($event)" (secondTeamActivated)="activateSecondTeam($event)" />
        }
      </div>

      <button mat-icon-button (click)="nextPage()" [appHidden]="hiddenNextButton()" data-cy="teams-to-right-button">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</app-widget>
