.teams-container {
  margin-top: 1em;
}

.teams-top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.team-name {
  display: flex;
  align-items: center;
  gap: 1.3em;
}

.help-label {
  font-size: 0.9rem;
  opacity: 0.85;
  white-space: nowrap;
}

.team-name-input {
  flex: 0 0 120px;
  margin-bottom: -1.5em;
}

.team-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.teams-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}

.teams-boxes-outer {
  overflow: hidden;
  width: 100%;
}

.teams-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 6.5em;
  column-gap: 1.5em;
  row-gap: 1.5em;
  flex-grow: 1;
  min-width: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 300ms ease-in;
}
