:host {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--widget-background);
}

.pokes {
  display: flex;
  justify-content: space-between;
}

.pokemon-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 35%;
  margin-left: 0.75em;
}

.import-export {
  display: flex;
  gap: 1em;
}

.pokemon-tabs {
  display: flex;
}

.damage-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 1.5em 0.75em 0em 0.75em;
  font-weight: 500;
}

.damage-result-text {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  justify-content: space-between;
}
