<div class="container">
  <div class="pokes">
    <div class="pokemon-name">
      <app-pokemon-combo-box [pokemonId]="attacker().id" (pokemonChanged)="pokemonChanged()" />
    </div>
    <div class="pokemon-tabs">
      <app-pokemon-tab [active]="leftIsAttacker()" [pokemonId]="store.leftPokemon().id" (tabActivated)="activatePokemon()" />
      <app-pokemon-tab [active]="rightIsAttacker()" [pokemonId]="store.rightPokemon().id" (tabActivated)="activatePokemon()" />
    </div>
  </div>

  <div class="damage-result">
    <div class="damage-result-text">
      <span>{{ damageResult().description }}</span>
    </div>
    <app-copy-button [value]="damageResult().description" />
  </div>

  <app-pokemon-build-mobile [pokemonId]="attacker().id" />
  <app-field />
</div>
