<div class="container">
  <div class="pokes">
    <div class="pokemon-name">
      <label>Pokémon</label>
      <app-pokemon-combo-box [pokemon]="attacker"/>
    </div>
    <app-pokemon-tab [activeTab]="leftIsAttacker()" [teamMember]="leftTeamMember" (tabActivated)="activatePokemon($event)"/>
    <app-pokemon-tab [activeTab]="rightIsAttacker()" [teamMember]="rightTeamMember" (tabActivated)="activatePokemon($event)"/>
  </div>

  <div class="damage-result">
    <div class="damage-result-text">
      @if (leftIsAttacker()) {
        <span>{{ attacker.name }} {{ attacker.activeMoveName }} vs {{ rightTeamMember.pokemon.name }}</span>
      }
      @if (rightIsAttacker()) {
        <span>{{ attacker.name }} {{ attacker.activeMoveName }} vs {{ leftTeamMember.pokemon.name }}</span>
      }
      <span>{{ damageResult().result }} - {{ damageResult().koChance }}</span>
    </div>
    <div class="copy-button">
      @if (copyMessageEnabled) {
        <label>Copied!</label>
      }
      <mat-icon class="copy-icon" (click)="copyDamageResult(damageResult())">content_copy</mat-icon>
    </div>
  </div>
  
  <app-pokemon-build-mobile [pokemon]="attacker" (pokemonChangedEvent)="pokemonOnEditChanged()"/>
  <app-field />
</div>
