:host {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--space-lg);
  column-gap: var(--space-lg);
  margin: var(--space-lg) var(--space-lg) 0 var(--space-lg);
}

.team {
  grid-row-start: 1;
  grid-row-end: 3;
}

.speed-list {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: var(--space-lg);
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: var(--space-lg);

  &.hide-insights {
    grid-template-columns: 1fr;
  }
}
