@if (pokemon().activeMoveName === "Last Respects" || pokemon().ability.name === "Supreme Overlord") {
  <div class="allies-fainted" [ngClass]="{ 'allies-fainted-row': leftLabel() }">
    <label>Allies Fainted</label>
    <mat-button-toggle-group class="allies-fainted-group" [hideSingleSelectionIndicator]="true" [ngClass]="{ focus: haveFocus() }" data-cy="allies-fainted">
      @for (value of alliesFainted; track value) {
        <mat-button-toggle [checked]="value === pokemon().moveSet.activeMove.alliesFainted" (change)="alliesFaintedSelected(value)" [attr.data-cy]="'allies-fainted-' + value">
          {{ value }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
}

@if (pokemon().activeMoveName === "Stomping Tantrum") {
  <mat-checkbox [ngModel]="pokemon().moveSet.activeMove.lastMoveFailed" (change)="lastMoveFailedChanged($event)" data-cy="last-move-failed">Last Move Failed</mat-checkbox>
}

@if (pokemon().moveSet.activeMove.possibleHits.length > 0) {
  <app-input-autocomplete
    [label]="multiHitLabel()"
    [leftLabel]="leftLabel()"
    [value]="pokemon().moveSet.activeMove.hits"
    [allValues]="pokemon().moveSet.activeMove.possibleHits"
    [haveFocus]="haveFocus()"
    (selected)="selected.emit()"
    (valueChange)="hitsChanged($event)"
    data-cy="hits-taken" />
}
