.import-textarea {
  height: 30em;
  width: 30em;
  padding-left: 0.5em;
  color: rgb(88, 88, 90);
  border-radius: 3px;
  border: 1px solid rgb(133, 129, 129);
}

textarea {
  resize: none;
  color: rgb(88, 88, 90);
  font-size: 15px;
  font-family: Roboto, sans-serif;
}
