.tabs {
  display: flex;
}

.pokemon-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  margin-top: 1em;
  margin-right: 0.5em;
  min-height: 2em;
}

.delete-pokemon,
.combine-damage {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.delete-pokemon:hover,
.combine-damage:hover > * {
  cursor: pointer;
  font-weight: 500;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4em;
  height: 6em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 1;
    background-color: var(--highlight);
  }
}
