<main>
  <header>
    
  </header>
  <section>
    <div class="container">
      <div class="header">
        <div class="left-header">
          <img class="slowking-icon" src="assets/icons/slowking.png" />
          <img class="icon" src="assets/icons/calc.png" />
          <span class="title">VGC Multi Calc</span>
          <div class="menu">
            <span>One vs Many</span>
          </div>
        </div>
        <div class="right-header">
          <a target="_blank" href="https://twitter.com/rluizv"><img class="icon" src="assets/icons/twitter.png"/></a>
          <a target="_blank" href="https://github.com/robsonbittencourt/poke-multi-calc"><img class="icon" src="assets/icons/github.png"/></a>
          <a href='https://ko-fi.com/B0B2VFTC3' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
      </div>
      
      <div class="main-pokemon">
        <app-main-pokemon [pokemon]="activePokemon()" (pokemonChangedEvent)="pokemonChanged($event)"/>
      </div>

      <div class="team">
        <app-team [team]="team" (teamChanged)=teamChanged($event) (pokemonAddedToTeamEvent)=pokemonAddedToTeam()/>
      </div>
      
      <div class="field">
        <app-field (fieldChangedEvent)="fieldChanged($event)" (criticalHitChangedEvent)="criticalHitChanged($event)"
          (attackerStatusChangedEvent)="attackerStatusChanged($event)" (defenderStatusChangedEvent)="defenderStatusChanged($event)"/>
      </div>
      
      <div class="target-pokemon">
        <app-target-pokemon [targets]="targets" (targetChangedEvent)="targetChanged($event)" (allTargetsRemoved)="removeAllTargets()"
         (targetsAdded)="targetsAdded($event)" (pokemonAdded)="pokemonAdded()"/>
      </div>
    </div>
  </section>
</main>