.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 800px 0.08fr 2fr;
  grid-column-gap: 1em;
  background-color: rgb(252, 248, 248);
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(255, 255, 255);
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.slowking-icon {
  width: 50px;
  height: 50px;
}

.icon {
  width: 30px;
  height: 30px;
}

.title {
  color: black;
  font-weight: 500;
  margin-left: 1em;
}

.menu {
  font-size: medium;
  color: rgb(133, 129, 129);
  margin-left: 2em;
  padding: 1em;
}

.menu:hover {
  background-color: #e7def6;
}

.main-pokemon {
  margin-bottom: 1em;
}

.team {
  margin-bottom: 1em;
}

.field {
  margin-bottom: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
}

.target-pokemon {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 1fr 2fr;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 0em;
    padding-right: 0em;
  }

  .right-header {
    column-gap: 0.5em;
  }

  .title {
    margin-left: 1em;
  }

  .main-pokemon {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .team {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .field {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 0.7em;
  }
}