.pokemon-hp {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: clamp(50px, 2vh + 2vw, 84px);
  width: clamp(245px, 19vw, 385px);
  background-color: rgba(33, 69, 70, 0.8);
  border-radius: 6px;
  color: #efffff;
  overflow: hidden;
}

.hp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.1em 0em 0.1em 1em;
  font-weight: 500;
}

.pokemon-name {
  font-size: 1.5em;
  font-family: "Proba Pro";
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.hp-bar {
  width: 12em;
  height: 30%;
  border: solid #82b4b3 2px;
  box-shadow: inset 0 0 1px black;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background-color: rgba(33, 69, 70);
}

.progress {
  height: 100%;
  box-shadow: inset 0 0 1px black;
}

.hp-value {
  font-size: 1.1em;
  position: absolute;
  display: block;
  top: 4%;
  right: 4%;
}

.pokemon-image {
  display: flex;
  justify-content: center;
  position: relative;
}

.level-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 1em;
  margin-right: 0.2em;
}

.level {
  margin-top: 0.5em;
}

.icon-image {
  width: auto;
  height: 55%;
  z-index: 1;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 3.5em solid transparent;
  border-bottom: 3em solid #28cdfe;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fainted-icon {
  display: inline-flex;
  position: absolute;
  top: 55%;
  height: 20%;
  align-items: center;
  background: linear-gradient(to bottom, rgba(62, 62, 62, 0.7), rgba(46, 46, 46, 0.7));
  border-radius: 20px;
  padding: 5px 15px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.3);
}

.pokeball-icon {
  width: 1.7em;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  box-shadow: inset 0 0 0 2px #3e3e3e;
}

.pokeball-icon::before {
  content: "";
  width: 0.4em;
  aspect-ratio: 1;
  border: 1px solid #3e3e3e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.line-left,
.line-right {
  width: 0.7em;
  height: 0.2em;
  background-color: #3e3e3e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line-left {
  left: 0;
}

.line-right {
  right: 0;
}

.fainted-text {
  text-transform: uppercase;
  font-size: 1.1em;
}

.pokeball-detail,
.pokeball-detail-right,
.pokeball-detail-bottom,
.pokeball-detail-bottom-right {
  width: 0.2em;
  height: 0.45em;
  background-color: white;
  position: absolute;
}

.pokeball-detail {
  top: 1px;
  left: calc(50% - 0.9em);
  transform: translateX(-50%) rotate(-140deg);
}

.pokeball-detail-right {
  top: 1px;
  left: calc(50% + 0.9em);
  transform: translateX(-50%) rotate(140deg);
}

.pokeball-detail-bottom {
  bottom: 1px;
  left: calc(50% - 0.9em);
  transform: translateX(-50%) rotate(140deg);
}

.pokeball-detail-bottom-right {
  bottom: 1px;
  left: calc(50% + 0.9em);
  transform: translateX(-50%) rotate(-140deg);
}

@media only screen and (min-width: 1920px) {
  .hp-value {
    font-size: 1.3em;
  }
}
