.weather-buttons {
  display: inline-flex;
  flex-direction: column;
  margin-top: 0.9em;
  margin-bottom: 1em;

  mat-button-toggle {
    min-width: 8em;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

:host(.horizontal) .weather-buttons {
  flex-direction: row;
  display: flex;
  margin-top: 0.5em;

  mat-button-toggle {
    flex: 1;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}
