<div class="ev-slider-container">
  @if (!reduced()) {
    <div class="stat-name">
      <label>{{ statName() }}</label>
    </div>

    <div class="base-stat">
      <label>{{ baseStat() }}</label>
    </div>
  }

  <div class="dense-2">
    @if (stat() === "hp") {
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier hp-percentage">
        @if (!reduced()) {
          <span matTextSuffix>%</span>
        }

        <input class="ev-value-input" type="number" min="0" max="100" matInput (input)="hpPercentageChanged($event)" [ngModel]="hpPercentage()" data-cy="hp-percentage-value" />
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier">
        <mat-select data-cy="stat-modifier" class="mat-small" [value]="statModifier()" (valueChange)="statModifierChanged($event)">
          @for (statsModifier of statsModifiers; track statsModifier) {
            <mat-option class="mat-small" [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>

  <div class="ev-value dense-2">
    <mat-form-field appearance="outline" class="mat-ev-field">
      @if (reduced()) {
        <mat-label>{{ statNameAcronym() }}</mat-label>
      }
      <input class="ev-value-input" type="number" min="0" max="252" matInput [(ngModel)]="ev" (change)="evChanged()" data-cy="ev-value" />
    </mat-form-field>
  </div>

  <div class="ev-slider">
    <mat-slider class="mat-ev-slider" [min]="calculateMin()" [max]="252" [step]="calculateEvStep()">
      <input matSliderThumb [(ngModel)]="ev" (input)="beforeChangeEvValue()" (change)="evChanged()" />
    </mat-slider>
  </div>

  <div class="ev-value dense-2">
    <mat-form-field appearance="outline" class="mat-ev-field">
      <input class="ev-value-input" type="number" min="0" max="31" matInput [ngModel]="iv()" (input)="ivChanged($event)" data-cy="iv-value" />
    </mat-form-field>
  </div>

  <div class="stat-value">
    @if (reduced()) {
      <label>{{ statValue() }}</label>
    } @else {
      <label>{{ natureModifier() }}{{ statValue() }}</label>
    }
  </div>
</div>
