.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.slowking-icon {
  width: 3.5em;
  height: auto;
}

.icon {
  width: 2em;
  height: auto;
}

.title {
  color: black;
  font-weight: 500;
  margin-left: 1em;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2em;
  color: rgb(133, 129, 129);
  margin-left: 2em;
  height: 75%;
}

.menu-option {
  display: flex;
  padding: 0.5em;
  align-items: center;
  height: 75%;
}

.menu-option:hover {
  cursor: pointer;
  font-weight: 500;
}
