@if (pokemon().isDefault) {
  <div class="data">
    <div class="pokemon-image-container">
      <div class="pokemon-image question-image">
        <img src="assets/icons/question.png" />
      </div>

      <app-input
        #pokemonInput
        [value]="pokemon().name"
        (valueChange)="pokemonDataFilter.set($event)"
        [haveFocus]="pokemonHasFocus()"
        (selected)="pokemonSelectorOnClick()"
        (lostFocus)="newPokemonSelectorLostFocus()"
        [tabIndex]="pokemonTabIndex()"
        data-cy="pokemon-select" />
    </div>
  </div>
} @else {
  <div class="data">
    <div class="pokemon-image-container" [ngStyle]="(reverse() && { order: 4 }) || null">
      <div class="pokemon-image">
        <img src="assets/sprites/pokemon-home/{{ pokemon().name }}.png" />
      </div>

      <app-input
        #pokemonInput
        [value]="pokemon().name"
        (valueChange)="pokemonDataFilter.set($event)"
        [haveFocus]="pokemonHasFocus()"
        (selected)="pokemonSelectorOnClick()"
        (lostFocus)="pokemonSelectorLostFocus()"
        [tabIndex]="pokemonTabIndex()"
        data-cy="pokemon-select" />
    </div>

    <div class="status-item" [ngStyle]="(reverse() && { order: 3 }) || null">
      <app-status-combo-box [pokemonId]="pokemonId()" [haveFocus]="statusHaveFocus()" (selected)="statusOnClick()" />
      <app-multi-hit-combo-box [pokemonId]="pokemonId()" [haveFocus]="multiHitHasFocus()" (selected)="multiHitOnClick()" />
      <app-input
        #itemInput
        label="Item"
        [value]="pokemon().item"
        [disabled]="isItemDisabled()"
        [haveFocus]="itemHasFocus()"
        [tabIndex]="itemTabIndex()"
        (valueChange)="itemDataFilter.set($event)"
        (selected)="itemSelectorOnClick()"
        (lostFocus)="itemSelectorLostFocus()"
        data-cy="item" />
    </div>

    <div class="tera-type-ability" [ngStyle]="(reverse() && { order: 2 }) || null">
      <app-tera-combo-box [pokemonId]="pokemonId()" [haveFocus]="teraHasFocus()" (selected)="teraOnClick()" />
      <app-type-combo-box [type1]="pokemon().type1" [type2]="pokemon().type2" [reverse]="reverse()" />
      <app-ability-combo-box
        #abilityInput
        [pokemonId]="pokemonId()"
        [haveFocus]="abilityHasFocus()"
        [tabIndex]="abilityTabIndex()"
        (valueChange)="abilityDataFilter.set($event)"
        (selected)="abilitySelectorOnClick()"
        (lostFocus)="abilitySelectorLostFocus()" />
    </div>

    <div>
      <label class="moves-label" [ngClass]="{ 'reversed-moves-label': reverse() }">Moves</label>
      <div class="moves" [ngClass]="{ 'reversed-moves': reverse() }">
        <div class="move">
          <mat-checkbox [ngModel]="pokemon().move1Name === pokemon().activeMoveName" (change)="activateMove(1)" [disabled]="moveSelectorDisabled(pokemon().move1Name)" data-cy="attack1" />
          <app-input
            #move1Input
            [value]="pokemon().moveSet.move1.name"
            [haveFocus]="move1HasFocus()"
            (valueChange)="moveDataFilter.set($event)"
            (selected)="moveSelectorOnClick(1)"
            (lostFocus)="moveSelectorLostFocus(1)"
            [tabIndex]="tabIndexMove1()"
            data-cy="pokemon-attack-1" />
        </div>
        <div class="move">
          <mat-checkbox [ngModel]="pokemon().move2Name === pokemon().activeMoveName" (change)="activateMove(2)" [disabled]="moveSelectorDisabled(pokemon().move2Name)" data-cy="attack2" />
          <app-input
            #move2Input
            [value]="pokemon().moveSet.move2.name"
            [haveFocus]="move2HasFocus()"
            (valueChange)="moveDataFilter.set($event)"
            (selected)="moveSelectorOnClick(2)"
            (lostFocus)="moveSelectorLostFocus(2)"
            [tabIndex]="tabIndexMove2()"
            data-cy="pokemon-attack-2" />
        </div>
        <div class="move">
          <mat-checkbox [ngModel]="pokemon().move3Name === pokemon().activeMoveName" (change)="activateMove(3)" [disabled]="moveSelectorDisabled(pokemon().move3Name)" data-cy="attack3" />
          <app-input
            #move3Input
            [value]="pokemon().moveSet.move3.name"
            [haveFocus]="move3HasFocus()"
            (valueChange)="moveDataFilter.set($event)"
            (selected)="moveSelectorOnClick(3)"
            (lostFocus)="moveSelectorLostFocus(3)"
            [tabIndex]="tabIndexMove3()"
            data-cy="pokemon-attack-3" />
        </div>
        <div class="move">
          <mat-checkbox [ngModel]="pokemon().move4Name === pokemon().activeMoveName" (change)="activateMove(4)" [disabled]="moveSelectorDisabled(pokemon().move4Name)" data-cy="attack4" />
          <app-input
            #move4Input
            [value]="pokemon().moveSet.move4.name"
            [haveFocus]="move4HasFocus()"
            (valueChange)="moveDataFilter.set($event)"
            (selected)="moveSelectorOnClick(4)"
            (lostFocus)="moveSelectorLostFocus(4)"
            [tabIndex]="tabIndexMove4()"
            data-cy="pokemon-attack-4" />
        </div>
      </div>
    </div>

    <div class="bps" [ngClass]="{ 'reversed-bps': reverse() }">
      <label class="bp-label">BP</label>

      <div class="move-bp">
        <label>{{ pokemon().moveSet.move1.bp }}</label>
      </div>
      <div class="move-bp">
        <label>{{ pokemon().moveSet.move2.bp }}</label>
      </div>
      <div class="move-bp">
        <label>{{ pokemon().moveSet.move3.bp }}</label>
      </div>
      <div class="move-bp">
        <label>{{ pokemon().moveSet.move4.bp }}</label>
      </div>
    </div>
  </div>
}

@if (showEvsTable()) {
  <div class="evs-titles" [ngStyle]="gridTemplateColumns()" [@fadeInOut]="shouldAnimate() ? 'in' : null">
    <label class="base-title">Base</label>
    <label class="modifier-title">Mod.</label>
    <label class="evs-title">EVs</label>
    <label class="ivs-title">IVs</label>
    <label class="stats-title">Stat</label>
    @if (this.hasModifiedStat()) {
      <label class="mod-title">Mod</label>
    }
  </div>

  <div class="evs" [@fadeInOut]="shouldAnimate() ? 'in' : null">
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.hp" [modifiedStat]="pokemon().hp" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-hp" stat="hp" />
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.atk" [modifiedStat]="modifiedAtk()" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-atk" stat="atk" />
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.def" [modifiedStat]="modifiedDef()" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-def" stat="def" />
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.spa" [modifiedStat]="modifiedSpa()" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-spa" stat="spa" />
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.spd" [modifiedStat]="modifiedSpd()" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-spd" stat="spd" />
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.spe" [modifiedStat]="modifiedSpe()" [hasModifiedStat]="hasModifiedStat()" data-cy="stat-spe" stat="spe" />

    <div class="remaining-evs">
      <label class="bst-label">BST</label>
      <label class="bst-value-label">{{ pokemon().bst }}</label>

      <label class="remaining-label">Remaining:</label>
      <div class="remaining-evs-value">
        <label data-cy="remaining-evs">{{ MAX_EVS - pokemon().totalEvs }}</label>
      </div>
    </div>
  </div>

  <div class="nature" [@fadeInOut]="shouldAnimate() ? 'in' : null">
    <div class="combo-nature">
      <app-nature-combo-box [pokemonId]="pokemonId()" [leftLabel]="true" />
    </div>
    <button mat-flat-button (click)="clearEvs()" data-cy="clear-evs">Clear EVs</button>
  </div>
}

@if (showPokemonTable()) {
  <app-pokemon-table
    [pokemonId]="pokemonId()"
    [dataFilter]="pokemonDataFilter()"
    [haveFocus]="tableWasActive()"
    (escapeWasPressed)="showDefaultView()"
    (pokemonSelected)="pokemonSelected($event)"
    (firstPokemonFromList)="firstPokemonFromList.set($event)" />
}

@if (showItemsTable()) {
  <app-items-table [pokemonId]="pokemonId()" [dataFilter]="itemDataFilter()" [haveFocus]="tableWasActive()" (escapeWasPressed)="showDefaultView()" (itemSelected)="itemSelected($event)" (firstItemFromList)="firstItemFromList.set($event)" />
}

@if (showAbilitiesTable()) {
  <app-abilities-table
    [pokemonId]="pokemonId()"
    [dataFilter]="abilityDataFilter()"
    [haveFocus]="tableWasActive()"
    (escapeWasPressed)="showDefaultView()"
    (abilitySelected)="abilitySelected($event)"
    (firstAbilityFromList)="firstAbilityFromList.set($event)" />
}

@if (showMovesTable()) {
  <app-moves-table [pokemonId]="pokemonId()" [dataFilter]="moveDataFilter()" [haveFocus]="tableWasActive()" (escapeWasPressed)="showDefaultView()" (moveSelected)="moveSelected($event)" (firstMoveFromList)="firstMoveFromList.set($event)" />
}
