:host {
  display: block;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}

.speed-modifier {
  width: 12em;
  height: 2.5em;
}

@media only screen and (max-width: 1279px) {
  .speed-modifier {
    width: auto;
    min-width: 12em;
  }
}
