<app-widget [title]="'General Probabilities'">
  <div class="container">
    <app-probability-card [title]="criticalHitCard.title" [headers]="criticalHitCard.headers" [rows]="criticalHitCard.rows" [cellWidths]="criticalHitCard.cellWidths" />

    <app-probability-card [title]="protectCard.title" [headers]="protectCard.headers" [rows]="protectCard.rows" />

    <app-probability-card
      [title]="isChampions() ? turnsToSleepCardChampions.title : turnsToSleepCardSV.title"
      [headers]="isChampions() ? turnsToSleepCardChampions.headers : turnsToSleepCardSV.headers"
      [rows]="isChampions() ? turnsToSleepCardChampions.rows : turnsToSleepCardSV.rows" />

    <app-probability-card
      [title]="isChampions() ? wakeUpFromSleepCardChampions.title : wakeUpFromSleepCardSV.title"
      [headers]="isChampions() ? wakeUpFromSleepCardChampions.headers : wakeUpFromSleepCardSV.headers"
      [rows]="isChampions() ? wakeUpFromSleepCardChampions.rows : wakeUpFromSleepCardSV.rows" />

    <app-probability-card
      [title]="isChampions() ? fullyParalyzedCardChampions.title : fullyParalyzedCardSV.title"
      [headers]="isChampions() ? fullyParalyzedCardChampions.headers : fullyParalyzedCardSV.headers"
      [rows]="isChampions() ? fullyParalyzedCardChampions.rows : fullyParalyzedCardSV.rows" />

    <app-probability-card [title]="isChampions() ? freezeCardChampions.title : freezeCardSV.title" [headers]="isChampions() ? freezeCardChampions.headers : freezeCardSV.headers" [rows]="isChampions() ? freezeCardChampions.rows : freezeCardSV.rows" />

    <app-probability-card [title]="snapOutOfConfusionCard.title" [headers]="snapOutOfConfusionCard.headers" [rows]="snapOutOfConfusionCard.rows" />

    <app-probability-card [title]="multiHitMovesCard.title" [headers]="multiHitMovesCard.headers" [rows]="multiHitMovesCard.rows" />
  </div>
</app-widget>
