.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  align-items: stretch;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
