.edit-moves {
  display: grid;
  column-gap: 2em;
  row-gap: 0.8em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1em;
}

.no-edit-moves {
  padding: 0.2em 0.2em;
}

.edit-button-section {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.edit-button,
.save-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.edit-icon {
  margin-top: 0.3em;
  font-size: 18px;
}

.hits-input {
  margin-top: 0.5em;
  width: 50%;
}

.check-input-section-input {
  margin-top: 0.2em;
  margin-left: -0.5em;
}

.hits-input-only {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  width: 50%;
  padding-left: 2em;
}

::ng-deep .mat-mdc-standard-chip {
  min-height: 28px !important;

  .mdc-evolution-chip__graphic {
    display: none !important;
  }

  .mdc-evolution-chip__text-label {
    font-size: 11px !important;
  }
}
