<div class="moves">
  <div class="no-edit-moves">
    <div class="chips-row">
      <mat-chip-listbox>
        @if (pokemon().move1Name) {
          <mat-chip-option (click)="activateMove(1)" [selected]="pokemon().activeMovePosition === 1">{{ pokemon().move1Name }}</mat-chip-option>
        }

        @if (pokemon().move2Name) {
          <mat-chip-option (click)="activateMove(2)" [selected]="pokemon().activeMovePosition === 2">{{ pokemon().move2Name }}</mat-chip-option>
        }

        @if (pokemon().move3Name) {
          <mat-chip-option (click)="activateMove(3)" [selected]="pokemon().activeMovePosition === 3">{{ pokemon().move3Name }}</mat-chip-option>
        }

        @if (pokemon().move4Name) {
          <mat-chip-option (click)="activateMove(4)" [selected]="pokemon().activeMovePosition === 4">{{ pokemon().move4Name }}</mat-chip-option>
        }
      </mat-chip-listbox>

      @if (showEdit() && !editingMoves()) {
        <div (click)="editMovesRequested.emit()" class="edit-button"><mat-icon class="edit-icon">edit</mat-icon>Edit</div>
      }

      @if (editingMoves()) {
        <div (click)="closeMovesRequested.emit()" class="edit-button close-button"><mat-icon class="edit-icon">close</mat-icon>Close</div>
      }
    </div>

    <div class="hits-input-only">
      <app-multi-hit-combo-box [pokemonId]="pokemonId()" [leftLabel]="true" />
    </div>
  </div>
</div>
