@use "variables.scss" as *;

:host {
  display: flex;
  align-items: end;
  gap: 1em;
  width: 100%;
}

:host.left-label {
  align-items: center;
  gap: 0.4em;
}

:host.left-label > mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-column {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.input-row label {
  white-space: nowrap;
  flex: none;
}

.input-with-clear {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
  width: 100%;
  min-width: 0;
}

.input-with-clear > mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  cursor: pointer;
}

.input-with-clear > input {
  flex: 1;
  min-width: 0;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 3px;
  outline: none;
  transition: box-shadow 0.3s ease;
  background-color: var(--widget-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  color: var(--text);
  font-size: $font-size;
}

.focus {
  box-shadow: inset 0 0 0 1.8px white;
}

@media only screen and (max-width: 1279px) {
  .input-with-clear > input {
    font-size: $font-size-mobile;
  }

  .input-column {
    gap: 0.25em;
  }
}
