@use "variables.scss" as *;

:host {
  display: flex;
  align-items: end;
  gap: 1em;
}

.input-column {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.input-row label {
  white-space: nowrap;
}

.input-row > input {
  width: auto;
  flex: 1;
}

.input-column > input,
.input-row > input {
  width: 96%;
  padding: 6px;
  border: 1px solid rgb(133, 129, 129);
  border-radius: 3px;
  outline: none;
  transition: box-shadow 0.3s ease;
  background-color: var(--widget-background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  color: var(--text);
  font-size: $font-size;
}

.focus {
  box-shadow: inset 0 0 0 1.8px white;
}

@media only screen and (max-width: 1279px) {
  .input-column > input,
  .input-row > input {
    font-size: $font-size-mobile;
  }
}
