:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-list {
  padding-left: var(--space-lg);
}

.custom-list li:not(:last-child) {
  margin-bottom: var(--space-lg);
}

.card {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-sm) var(--space-md) var(--space-md);
  background-color: var(--highlight);
}

.card app-pokemon-sprite {
  --sprite-size: var(--sprite-lg);
}

.speed-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  row-gap: var(--space-sm);
  margin-top: var(--space-sm);
}

.pokemon-name {
  color: var(--text-strong);
  font-weight: 500;
  font-size: clamp(12px, 2vh, 16px);
  margin-bottom: var(--space-lg);
}

.note {
  margin-top: auto;
  margin-bottom: var(--space-lg);
}

@media only screen and (max-width: 1279px) {
  .note {
    margin-bottom: -1em;
  }
}
