.import-pokemon {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.import-pokemon:hover > * {
  cursor: pointer;
  font-weight: 500;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
