.damage-result {
  display: grid;
  gap: var(--space-lg);
  grid-template-columns: 1fr 0.5fr;
}

.hp-badge {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  container-type: inline-size;
}

.move {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chip-move {
  width: 50%;
  margin-left: var(--space-lg);
}

.damage-percentage {
  margin-left: var(--space-md);
}

.label {
  font-weight: 500;
}

.rolls {
  display: flex;
  gap: var(--space-sm);
}

.description-container {
  grid-column-start: 1;
  grid-column-end: 3;
  order: 3;
  height: 2em;
}

.description-with-button {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.description-text {
  color: var(--text-strong);
  font-weight: 500;
}

.roll-highlight {
  font-weight: bold;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  display: none !important;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label:not(:only-child) {
  padding-left: var(--space-lg);
}

:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
:host ::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
:host ::ng-deep .mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden;
}
