.teams-container {
  margin-top: 2.5em;
}

.teams-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 6.5em;
  column-gap: 1.5em;
  row-gap: 1em;
  margin-top: 1em;
}

.teams-top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.team-name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.team-name-input {
  width: 60%;
  margin-bottom: -1.5em;
}

.team-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}
