<div class="center-section">
  @for (speedDefinition of inSpeedRange(); track speedDefinition.id) {
    <div class="speed-box" data-cy="speed-box">
      <app-speed-box
        [speedDefinition]="speedDefinition"
        [speedChanged]="speedOrderChanged"
        [speedIncreasing]="speedOrderIncrease"
        (pokemonSelected)="setPokemonSelected($event)"
        [selected]="isSelected(speedDefinition)"
        [highlightMyTeam]="highlightMyTeam()" />
    </div>
  }
</div>

<div class="outspeed-action">
  @if (selectedPokemon(); as selected) {
    <button mat-flat-button data-cy="outspeed-button" (click)="requestOutspeed()">Outspeed {{ selected.name }}</button>
  }
</div>
