@if (pokemon().ability.actionableAbility) {
  <div class="check">
    @if (pokemon().isParadoxAbility && pokemon().ability.on) {
      <span>+{{ pokemon().higherStat | titlecase }}</span>
    }
    <mat-checkbox [ngModel]="pokemon().ability.on" (change)="toogleAbility($event)" [disabled]="abilityCheckDisabled()" data-cy="activate-ability" />
  </div>
}

<app-tatsugiri-button [pokemonId]="pokemon().id" />

@if (isMobile()) {
  <app-input-select class="input-select" label="Ability" [value]="pokemon().ability.name" [allValues]="availableAbilities()" (valueChange)="store.ability(pokemonId(), $event)" data-cy="ability" />
} @else {
  <app-input
    #abilityInput
    class="input-select"
    label="Ability"
    [value]="pokemon().ability.name"
    [haveFocus]="haveFocus()"
    [tabIndex]="tabIndex()"
    (valueChange)="valueChange.emit($event)"
    (selected)="selected.emit()"
    (lostFocus)="lostFocus.emit($event)"
    data-cy="ability" />
}
