<div class="mobile-calc-container">
  <div [hidden]="activeBottomTab() !== 'build'" [class.tab-active]="activeBottomTab() === 'build'">
    <app-team-tabs-mobile [(pokemonOnEditId)]="pokemonOnEditId" />
  </div>

  <div #scrollContainer class="scrollable-content" [class.teams-tab]="activeBottomTab() === 'teams'" (scroll)="onScroll($event)">
    <div [hidden]="activeBottomTab() !== 'coverage'" [class.tab-active]="activeBottomTab() === 'coverage'">
      @if (!isPokemonDefault()) {
        <div class="widget-list">
          <app-offensive-coverage-mobile [secondTeam]="secondTeam()" />
          <app-defensive-coverage-mobile [secondTeam]="secondTeam()" />
        </div>
      } @else {
        <div class="empty-state">Select a valid Pokémon to see its coverage</div>
      }
    </div>

    <div [hidden]="activeBottomTab() !== 'insights'" [class.tab-active]="activeBottomTab() === 'insights'">
      <app-type-coverage-insights-mobile [secondTeam]="secondTeam()" />
    </div>

    <div [hidden]="activeBottomTab() !== 'build'" [class.tab-active]="activeBottomTab() === 'build'">
      <div class="attacker-build">
        @if (effectiveEditingId() && !store.findPokemonById(effectiveEditingId()!).isDefault) {
          <app-pokemon-build-mobile [pokemonId]="effectiveEditingId()!" (pokemonDeleted)="pokemonOnEditId.set($event)" />
        }
      </div>
    </div>

    <div [hidden]="activeBottomTab() !== 'teams'" [class.tab-active]="activeBottomTab() === 'teams'">
      <app-teams-mobile [allowSecondTeamSelection]="true" (secondTeamSelected)="onSecondTeamSelected($event)" (pokemonSelected)="pokemonOnEditId.set($event)" (useTeam)="onTeamSelected($event)" />
    </div>
  </div>

  <div class="bottom-nav" [class.hidden]="!showBottomNav()">
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'coverage' }" (click)="switchTab('coverage')">
      <mat-icon>shield</mat-icon>
      <span>Coverage</span>
    </div>
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'insights' }" (click)="switchTab('insights')">
      <mat-icon>insights</mat-icon>
      <span>Insights</span>
    </div>
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'build' }" (click)="switchTab('build')">
      <mat-icon>edit</mat-icon>
      <span>Build</span>
    </div>
    <div class="bottom-tab" [ngClass]="{ 'active-bottom-tab': activeBottomTab() === 'teams' }" (click)="switchTab('teams')">
      <mat-icon svgIcon="pokeball"></mat-icon>
      <span>Teams</span>
    </div>
  </div>
</div>
