<div class="container">
  <div class="combo-options">
    <div class="pokemon-name">
      <label>Pokémon</label>
      <app-pokemon-combo-box [pokemonId]="pokemonId()" data-cy="pokemon-select" />
    </div>

    <div class="combo-option">
      <label>Item</label>
      <app-input-autocomplete [value]="pokemon().item" [allValues]="allItemsNames" (valueChange)="store.item(pokemonId(), $event)" />
    </div>

    <div class="tab">
      <img class="pokemon-image-small" src="assets/sprites/pokemon-sv/{{ pokemon().name }}.png" />
    </div>

    <div class="combo-option-medium">
      <label>Status</label>
      <app-input-autocomplete [value]="pokemon().status" [allValues]="statusConditions" (valueChange)="store.status(pokemonId(), $event)" />
    </div>

    <div class="combo-option-medium">
      <label>Nature</label>
      <app-input-autocomplete [value]="pokemon().nature" [allValues]="allNatureNames" (valueChange)="store.nature(pokemonId(), $event)" />
    </div>

    <div class="ability-enable">
      @if (pokemon().actionableAbility) {
        <div class="ability-checkbox">
          <mat-checkbox [ngModel]="pokemon().abilityOn" (change)="store.abilityOn(pokemonId(), $event.checked)" />
        </div>
      }

      @if (pokemon().name === "Dondozo") {
        <button class="icon-button" (click)="store.commanderActive(pokemonId(), !pokemon().commanderActivated)" matTooltip="Commander">
          @if (this.pokemon().commanderActivated) {
            <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly.png" />
          } @else {
            <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly-gray.png" />
          }
        </button>
      }

      @if (pokemon().isParadoxAbility) {
        <button class="icon-button" (click)="store.abilityOn(pokemonId(), !pokemon().abilityOn)" matTooltip="Booster Energy">
          @if (this.pokemon().abilityOn) {
            <img class="icon-tatsugiri" src="assets/icons/booster-energy.png" />
          } @else {
            <img class="icon-tatsugiri" src="assets/icons/booster-energy-gray.png" />
          }
        </button>
      }
    </div>

    <div class="combo-option">
      <label>Ability</label>
      <app-ability-combo-box [pokemonId]="pokemonId()" data-cy="ability" />
    </div>
  </div>

  <div class="evs">
    <app-ev-slider [pokemonId]="pokemonId()" [ev]="pokemon().evs.spe ?? 0" stat="spe" [reduced]="true" />
  </div>

  <div class="speed-calculator-container">
    <app-speed-scale [pokemonId]="pokemon().id" [pokemonEachSide]="17" />
  </div>

  <div>
    <label class="title">Opponent Side</label>
  </div>
  <div class="options">
    <div class="dense-2">
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier">
        <mat-select class="mat-small" [value]="optionsStore.speedModifier()" (valueChange)="optionsStore.updateSpeedModifier($event)">
          @for (statsModifier of statsModifiers; track statsModifier) {
            <mat-option class="mat-small" [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="optionsStore.speedDropActive()" (change)="optionsStore.toogleIceWind($event.source.checked)">Ice Wind</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.paralyzedActive()" (change)="optionsStore.toogleParalyze($event.source.checked)">Paralyzed</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.choiceScarfActive()" (change)="optionsStore.toogleChoiceScarf($event.source.checked)">Choice Scarf</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Field</label>
  </div>
  <div class="options">
    <mat-button-toggle-group multiple class="button-group botton-space" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="fieldStore.isWeatherSun()" (change)="fieldStore.toggleSunWeather()" data-cy="sun">Sun</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherRain()" (change)="fieldStore.toggleRainWeather()" data-cy="rain">Rain</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherSand()" (change)="fieldStore.toggleSandWeather()" data-cy="sand">Sand</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isWeatherSnow()" (change)="fieldStore.toggleSnowWeather()" data-cy="snow">Snow</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle [checked]="fieldStore.isTerrainElectric()" (change)="fieldStore.toggleElectricTerrain()" data-cy="eletric-terrain">Electric Terrain</mat-button-toggle>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="fieldStore.attackerSide().isTailwind" (change)="fieldStore.toggleAttackerTailwind()" data-cy="tailwind-attacker">Your Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.defenderSide().isTailwind" (change)="fieldStore.toggleDefenderTailwind()" data-cy="tailwind-defender">Opponent Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="fieldStore.isTrickRoom()" (change)="fieldStore.toggleTrickRoom()">Trick Room</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Regulation</label>
  </div>
  <div class="options">
    <mat-button-toggle-group class="button-group botton-space" [hideSingleSelectionIndicator]="true">
      <mat-button-toggle [checked]="optionsStore.regulation() === 'Reg G'" value="Reg G" (change)="optionsStore.updateRegulation($event.source.value)">Regulation G</mat-button-toggle>
      <mat-button-toggle [checked]="optionsStore.regulation() === 'Reg H'" value="Reg H" (change)="optionsStore.updateRegulation($event.source.value)">Regulation H</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Pokémon</label>
  </div>
  <div class="options">
    <app-input-autocomplete [allValues]="optionsStore.pokemonNamesByReg()" [value]="optionsStore.targetName()" (valueChange)="optionsStore.updateTargetName($event)" />
    <mat-icon class="clear-button" (click)="optionsStore.clearTargetName()">clear</mat-icon>
  </div>
</div>
