<div class="container">
  <div class="combo-options">
    <div class="pokemon-name">
      <label>Pokémon</label>
      <app-input-autocomplete [(value)]="pokemon.name" [allValues]="allPokemonNames" (valueChange)="onValueManuallySelected($event)"/>
    </div>

    <div class="combo-option">
      <label>Item</label>
      <app-input-autocomplete [(value)]="pokemon.item" [allValues]="allItemsNames"/>
    </div>

    <div class="tab">
      <img class="pokemon-image-small" src='assets/sprites/pokemon-sv/{{ pokemon.name }}.png'>
    </div>

    <div class="combo-option-medium">
      <label>Status</label>
      <app-input-autocomplete [(value)]="pokemon.status" [allValues]="statusConditions"/>
    </div>

    <div class="combo-option-medium">
      <label>Nature</label>
      <app-input-autocomplete [(value)]="pokemon.nature" [allValues]="allNatureNames"/>
    </div>

    <div class="ability-enable">
      @if (pokemon.ability == 'Unburden') {
        <div class="ability-checkbox">
          <mat-checkbox [(ngModel)]="pokemon.abilityOn"/>
        </div>
      }

      @if (pokemon.name == 'Dondozo') {
        <button class="icon-button" (click)="toogleCommanderAbility()" matTooltip="Commander">
          @if (this.pokemon.commanderActivated) {
            <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly.png" />
          }
          @else {
            <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly-gray.png" />
          }
        </button>
      }

      @if (pokemon.isParadoxAbility()) {
        <button class="icon-button" (click)="toogleParadoxAbility()" matTooltip="Booster Energy">
          @if (this.pokemon.abilityOn) {
            <img class="icon-tatsugiri" src="assets/icons/booster-energy.png" />
          }
          @else {
            <img class="icon-tatsugiri" src="assets/icons/booster-energy-gray.png" />
          }
        </button>
      }
    </div>

    <div class="combo-option">
      <label>Ability</label>
      <app-input-autocomplete [(value)]="pokemon.ability" [allValues]="availableAbilities"/>
    </div>
  </div>

  <div class="evs">
    <app-ev-slider statNameAcronym="SPE" [statValue]="pokemon.modifiedSpe()" [showIv]="true" [(ev)]="pokemon.evs.spe" (evChangedEvent)="onChangeEvValue()"
      [(iv)]="pokemon.ivs.spe" (ivChange)="onChangeIvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()" [(statsModifier)]="pokemon.boosts.spe" [nature]="pokemon.nature"/>
  </div>

  <div class="speed-calculator-container">
    <app-speed-scale [pokemon]="pokemon" [options]="options" [pokemonEachSide]=17 />
  </div>

  <div>
    <label class="title">Opponent Side</label>
  </div>
  <div class="options">
    <div class="dense-2">
      <mat-form-field appearance="outline" class="mat-ev-stat-modifier">
        <mat-select class="mat-small" [(value)]="options.speedModifier">
          @for (statsModifier of statsModifiers; track statsModifier) {
            <mat-option class="mat-small" [value]="statsModifier.value">{{ statsModifier.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="options.speedDropActive" (change)="options.speedDropActive = $event.source.checked">Ice Wind</mat-button-toggle>
      <mat-button-toggle [checked]="options.paralyzedActive" (change)="options.paralyzedActive = $event.source.checked">Paralyzed</mat-button-toggle>
      <mat-button-toggle [checked]="options.choiceScarfActive" (change)="options.choiceScarfActive = $event.source.checked">Choice Scarf</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Field</label>
  </div>
  <div class="options">
    <mat-button-toggle-group multiple (change)="toggleChangeWeather($event)" class="button-group botton-space" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="data.field.weather == 'Sun'" value="Sun">Sun</mat-button-toggle>
      <mat-button-toggle [checked]="data.field.weather == 'Rain'" value="Rain">Rain</mat-button-toggle>
      <mat-button-toggle [checked]="data.field.weather == 'Sand'" value="Sand">Sand</mat-button-toggle>
      <mat-button-toggle [checked]="data.field.weather == 'Snow'" value="Snow">Snow</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle [checked]="data.field.terrain == 'Electric'" value="Electric" (change)="toggleChangeTerrain($event)">Electric Terrain</mat-button-toggle>

    <mat-button-toggle-group multiple class="button-group" [hideMultipleSelectionIndicator]="true">
      <mat-button-toggle [checked]="data.field.attackerSide.isTailwind" (change)="data.field.attackerSide.isTailwind = $event.source.checked">Your Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="data.field.defenderSide.isTailwind" (change)="data.field.defenderSide.isTailwind = $event.source.checked">Opponent Tailwind</mat-button-toggle>
      <mat-button-toggle [checked]="options.trickRoomActive" (change)="options.trickRoomActive = $event.source.checked">Trick Room</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Regulation</label>
  </div>
  <div class="options">
    <mat-button-toggle-group class="button-group botton-space" [hideSingleSelectionIndicator]="true">
      <mat-button-toggle [checked]="options.regulation == 'Reg G'" value="Reg G" (change)="regulationChanged($event.source.value)">Regulation G</mat-button-toggle>
      <mat-button-toggle [checked]="options.regulation == 'Reg H'" value="Reg H" (change)="regulationChanged($event.source.value)">Regulation H</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <label class="title">Pokémon</label>
  </div>
  <div class="options">
    <app-input-autocomplete [(value)]="options.targetName" [allValues]="pokemonNamesByReg"/>
    <mat-icon class="clear-button" (click)="clearPokemon()">clear</mat-icon>
  </div>
</div>