<div class="container">
  <app-damage-result [pokemon]="leftPokemon" [damageResults]="leftDamageResults"/>
  <app-damage-result [pokemon]="rightPokemon" [damageResults]="rightDamageResults"/>

  <div class="pokemon-edit">
    <app-pokemon-build [pokemon]="leftPokemon" (pokemonChangedEvent)="leftPokemonChanged()"/>
  </div>

  <div class="pokemon-edit">
    <app-pokemon-build [pokemon]="rightPokemon" (pokemonChangedEvent)="rightPokemonChanged()"/>
  </div> 

  <div class="field">
    <app-field (fieldChangedEvent)="fieldChanged()"/>
  </div>
</div>