<div class="container">
  <app-damage-result [pokemon]="data.leftPokemon()" [damageResults]="leftDamageResults()" [opponentDamageResult]="rightDamageResult()" (moveSetChange)="leftMoveActivated($event)" data-cy="left-damage-result"/>
  <app-damage-result [pokemon]="data.rightPokemon()" [damageResults]="rightDamageResults()" [opponentDamageResult]="leftDamageResult()" (moveSetChange)="rightMoveActivated($event)" [reverse]="true" data-cy="right-damage-result"/>

  <div class="pokemon-edit" data-cy="left-pokemon">
    <div class="pokemon-actions pokemon-actions-left">
      <app-import-pokemon-button (pokemonImportedEvent)="data.updateLeftPokemon($event)"/>
      <app-export-pokemon-button [pokemon]="data.leftPokemon()"/>
    </div>
    <app-pokemon-build [pokemonId]="this.data.leftPokemon().id" />
  </div>

  <div class="pokemon-edit" data-cy="right-pokemon">
    <div class="pokemon-actions pokemon-actions-right">
      <app-import-pokemon-button (pokemonImportedEvent)="data.updateRightPokemon($event)"/>
      <app-export-pokemon-button [pokemon]="data.rightPokemon()"/>
    </div>
    <app-pokemon-build [pokemonId]="this.data.rightPokemon().id" [reverse]="true"/>
  </div> 

  <div class="field">
    <app-field />
  </div>
</div>