<div class="moves">
  @if (editAttacks) {
    <div class="edit-moves">
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [value]="pokemon().moveSet.move1.name" [allValues]="allMoveNames()" (valueChange)="store.moveOne(pokemonId(), $event)" />
        </div>
      </div>
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [value]="pokemon().moveSet.move2.name" [allValues]="allMoveNames()" (valueChange)="store.moveTwo(pokemonId(), $event)" />
        </div>
      </div>
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [value]="pokemon().moveSet.move3.name" [allValues]="allMoveNames()" (valueChange)="store.moveThree(pokemonId(), $event)" />
        </div>
      </div>
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [value]="pokemon().moveSet.move4.name" [allValues]="allMoveNames()" (valueChange)="store.moveFour(pokemonId(), $event)" />
        </div>
      </div>
      <div class="save-button" (click)="saveMoves()"><mat-icon class="edit-icon">save</mat-icon>Save</div>
    </div>
  } @else {
    <div class="no-edit-moves">
      <mat-chip-listbox>
        @if (pokemon().move1Name) {
          <mat-chip-option (click)="activateMove1()" [selected]="pokemon().activeMoveName === pokemon().move1Name">{{ pokemon().move1Name }}</mat-chip-option>
        }

        @if (pokemon().move2Name) {
          <mat-chip-option (click)="activateMove2()" [selected]="pokemon().activeMoveName === pokemon().move2Name">{{ pokemon().move2Name }}</mat-chip-option>
        }

        @if (pokemon().move3Name) {
          <mat-chip-option (click)="activateMove3()" [selected]="pokemon().activeMoveName === pokemon().move3Name">{{ pokemon().move3Name }}</mat-chip-option>
        }

        @if (pokemon().move4Name) {
          <mat-chip-option (click)="activateMove4()" [selected]="pokemon().activeMoveName === pokemon().move4Name">{{ pokemon().move4Name }}</mat-chip-option>
        }

        <div class="edit-button-section">
          <div (click)="editMoves()" class="edit-button"><mat-icon class="edit-icon">edit</mat-icon>Edit</div>
          <div class="hits-input">
            <app-multi-hit-combo-box [pokemonId]="pokemonId()" [leftLabel]="true" />
          </div>
        </div>
      </mat-chip-listbox>
    </div>
  }
</div>

<div class="combo-options">
  <div class="combo-tera">
    <app-tera-combo-box [pokemonId]="pokemonId()" />
  </div>

  <div class="combo-item">
    <app-item-combo-box [pokemonId]="pokemonId()" />
  </div>

  <div class="combo-status">
    <app-status-combo-box [pokemonId]="pokemonId()" />
  </div>

  <div class="combo-nature-ability">
    <div class="combo-nature">
      <app-nature-combo-box [pokemonId]="pokemonId()" />
    </div>

    <div class="combo-ability">
      <app-ability-combo-box [pokemonId]="pokemonId()" [isMobile]="true" />
    </div>
  </div>
</div>

<div class="evs">
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="pokemon().hp" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.hp" [isOptimized]="isHpOptimized()" stat="hp" [reduced]="true" />
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="modifiedAtk()" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.atk" stat="atk" [reduced]="true" />
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="modifiedDef()" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.def" [isOptimized]="isDefOptimized()" stat="def" [reduced]="true" />
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="modifiedSpa()" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.spa" stat="spa" [reduced]="true" />
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="modifiedSpd()" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.spd" [isOptimized]="isSpdOptimized()" stat="spd" [reduced]="true" />
  <app-ev-slider [pokemonId]="pokemonId()" [modifiedStat]="modifiedSpe()" [hasModifiedStat]="hasModifiedStat()" [ev]="pokemon().evs.spe" stat="spe" [reduced]="true" />
</div>

<div class="ev-buttons">
  <button mat-flat-button (click)="clearEvs()" data-cy="clear-evs-mobile">Clear EVs</button>
  @if ((menuStore.manyVsOneActivated() || menuStore.oneVsOneActivated()) && (!optimizedEvs() || !isOptimizationValid()) && !hasNoSolution() && !isSolutionNotNeeded()) {
    <button mat-flat-button (click)="optimizeEvs()" data-cy="optimize-evs-mobile">Optimize Bulk</button>
    <div class="checkbox-group">
      <mat-checkbox [(ngModel)]="updateNature" data-cy="update-nature-checkbox-mobile">Update Nature</mat-checkbox>
      <mat-checkbox [(ngModel)]="keepOffensiveEvs" data-cy="keep-offensive-evs-checkbox-mobile">Keep Offensive EVs</mat-checkbox>
      <app-input-select [(value)]="survivalThreshold" [allValues]="thresholdOptions" />
    </div>
  }
  @if (optimizedEvs() && isOptimizationValid() && !hasNoSolution() && !isSolutionNotNeeded()) {
    <button mat-flat-button (click)="applyOptimization()" data-cy="apply-optimization-mobile">Apply</button>
    <button mat-flat-button (click)="discardOptimization()" data-cy="discard-optimization-mobile">Discard</button>
  }

  @if (hasNoSolution()) {
    <div class="no-solution">
      <label>No solution found</label>
      <button mat-flat-button (click)="discardOptimization()" data-cy="ok-no-solution-mobile">OK</button>
    </div>
  }

  @if (isSolutionNotNeeded()) {
    <div class="no-solution">
      <label>No solution needed</label>
      <button mat-flat-button (click)="discardOptimization()" data-cy="ok-no-solution-mobile">OK</button>
    </div>
  }
</div>
