.moves {
  margin: 1em 0.75em 0em 0.75em;
}

.edit-moves {
  display: grid;
  column-gap: 2em;
  row-gap: 0.8em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 1em;
  margin-right: 0.5em;
}

.no-edit-moves {
  grid-column-start: 1;
  grid-column-end: 3;
}

.edit-button-section {
  display: flex;
  gap: 2em;
  margin-left: 1.5em;
}

.edit-button {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.save-button {
  display: flex;
  align-items: center;
}

.edit-icon {
  margin-top: 0.3em;
  font-size: 18px;
}

.hits-input {
  margin-top: 0.5em;
  width: 50%;
}

.check-input-section-input {
  margin-top: 0.2em;
  margin-left: -0.5em;
}

.evs {
  display: grid;
  grid-row-gap: 0.2em;
  margin: 1.5em 0.75em 0 0.75em;
}

.combo-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  row-gap: 1em;
  margin-top: 0.5em;
  padding: 0.75em 1.25em 0.75em 0.75em;
  background-color: var(--highlight);
}

.combo-tera {
  flex: 1 0 7em;
}

.combo-item {
  flex: 1 0 6em;
}

.combo-status {
  flex: 1 0 5em;
}

.combo-nature-ability {
  display: flex;
  gap: 1em;
  width: 100%;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.combo-nature,
.combo-ability {
  flex: 1 1 0;
  min-width: 0;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  display: none !important;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label:not(:only-child) {
  padding-left: 12px;
}
