.attacker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em 0.75em 0 0.75em;
}

.attacker-header app-pokemon-combo-box {
  flex: 0 1 10em;
  max-width: 10em;
  min-width: 0;
}

.attacker-actions {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-shrink: 0;
}

.delete-pokemon {
  display: flex;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
  color: var(--text);

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    cursor: pointer;
  }
}

app-pokemon-moves-mobile {
  display: block;
  margin: 1em 0.75em;
}

.evs {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-row-gap: 0.2em;
  margin: 1.5em 0.75em 0 0.75em;
}

.remaining-evs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.remaining-info {
  display: grid;
  grid-template-columns: calc(62px - 0.5em) 64px;
  grid-column-gap: 0.7em;
}

.remaining-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.remaining-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.remaining-buttons {
  display: flex;
  gap: 0.5em;
  margin-left: auto;
}

.combo-options {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  row-gap: 1em;
  padding: 0.75em 2.5em 0.75em 0.75em;
  background-color: var(--highlight);
}

.combo-tera {
  flex: 1 0 7em;
}

.combo-item {
  flex: 1 0 7em;
}

.combo-status {
  flex: 1 0 7em;
  margin-left: -0.5em;
}

.combo-nature-ability {
  display: flex;
  gap: 2em;
  width: 100%;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.combo-nature-ability-compact {
  gap: 2em;
}

.combo-nature,
.combo-ability {
  flex: 1 1 0;
  min-width: 0;
}

.combo-nature-compact {
  flex: 1 1 22%;
  max-width: 22%;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  display: none !important;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__text-label:not(:only-child) {
  padding-left: 12px;
}

.ev-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0.75em 0 0.75em;
  align-items: center;

  button {
    flex-shrink: 0;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.4em;
  }

  .no-solution {
    display: flex;
    gap: 0.5em;
    align-items: center;

    label {
      color: var(--error);
      font-weight: 500;
    }
  }
}
