<div class="pokemon-hp">
  <div class="hp">
    <p class="pokemon-name">{{ name }}</p>
    <div class="hp-bar">
      <div class="progress" [ngStyle]="{ 'width.%': hpPercentage, 'background-color': hpBarColor }"></div>
      <span class="hp-value">{{ actualHp }}/{{ hp }}</span>
    </div>
  </div>      
  <div class="pokemon-image">
    <img #pokemonImage src='assets/sprites/pokemon-sv/{{ spriteName }}.png' (load)="onImageLoad()" [ngStyle]="actualHp == 0 && { 'transform': 'scale(' + imageScale + ')', 'filter': 'brightness(70%)' } || { 'transform': 'scale(' + imageScale + ')' }">
    <div class="fainted-icon" *ngIf="actualHp == 0">
      <div class="pokeball-icon">
        <div class="line-left"></div>
        <div class="line-right"></div>
        <div class="pokeball-detail"></div>
        <div class="pokeball-detail-right"></div>
        <div class="pokeball-detail-bottom"></div>
        <div class="pokeball-detail-bottom-right"></div>
      </div>
      <div class="fainted-text">Fainted</div>
    </div>
  </div>
  <div class="level-item">
    <span class="level">Lv. 50</span>
    <img src='assets/sprites/items/{{ item }}.png' class="icon-image">
  </div>
  <div class="triangle"></div>
</div>