<div class="teams">
  <div class="header">
    <span class="title">Teams</span>
  </div>
  <div class="teams-container">
    <div class="teams-left-side">
      <div class="team-name">
        <label>Team Name</label>
        <input class="poke-paste-input" type="text" matInput [(ngModel)]="team.name">
      </div>
      <label class="label-import">Import</label>
      <div class="poke-paste-container">
        <input class="poke-paste-input" placeholder="PokePaste Link" type="text" matInput [(ngModel)]="pokePaste" (keyup.enter)="addFromPokePaste()">
        <mat-icon (click)="addFromPokePaste()">download</mat-icon>
      </div>
      <div class="poke-paste-container">
        <textarea class="team-text-input" placeholder="Team in text format" (keyup.enter)="addFromPokePaste()"></textarea>
        <mat-icon (click)="addFromPokePaste()">download</mat-icon>
      </div>
      <div class=team-buttons>
        <button mat-flat-button color="primary" (click)="addFromPokePaste()">Export</button>
        <button mat-flat-button color="primary" (click)="addFromPokePaste()">Add to Opponent</button>
        <button mat-flat-button color="warn" (click)="addFromPokePaste()">Delete</button>
      </div>
    </div>
    <div class="teams-boxes">
      <app-team-box *ngFor="let team of teams" [team]="team" (teamActivated)="activateTeam($event)"/>
    </div>
  </div>
</div>