<div class="teams">
  <div class="header">
    <span class="title">Teams</span>
  </div>
  <div class="teams-container">
    <div class="teams-left-side">
      <div class="team-name">
        <label>Team Name</label>
        <input class="poke-paste-input" type="text" matInput [(ngModel)]="team.name">
      </div>
      <div class=team-buttons>
        <button mat-flat-button color="primary" (click)="addFromPokePaste()">Import</button>
        <button mat-flat-button color="primary" (click)="export()" [disabled]="team.onlyHasDefaultPokemon()">Export</button>
        <button mat-flat-button color="warn" (click)="deleteTeam()" [disabled]="team.onlyHasDefaultPokemon()">Delete</button>
      </div>
    </div>
    <div class="teams-boxes">
      <app-team-box *ngFor="let team of teams" [team]="team" (teamActivated)="activateTeam($event)"/>
    </div>
  </div>
</div>