.teams {
  background-color: white;
  border-radius: 12px;
  padding: 1em 1.5em 1.0em 1.5em;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1em;
  height: 38%; //TODO
}

.header {
  display: flex;
  font-size: large;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title {
  color: black;
  font-weight: 500;
}

.teams-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 3em;
  margin-top: 1em;
}

.teams-boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.teams-left-side {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.poke-paste-input {
  height: 2.35em;  
  width: 80%;
  padding-left: 0.5em;
  color: rgb(88, 88, 90);
  border-radius: 3px;
  border: 1px solid rgb(133, 129, 129);
}

.team-name {
  display: flex;
  flex-direction: column;  
}

.team-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
}

.card {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 0.5em 1em; 
  background-color: #e7def6;
  color: black;
}

.label-import {
  margin-bottom: -1em;
}