<div class="team" [ngClass]="{ 'active-team': team().active, 'second-team': isSecondTeam() }" (click)="activate($event)" data-cy="team-box">
  <label class="team-name-label">{{ team().name }}</label>
  <div class="team-pokemon-icons">
    @for (teamMember of team().teamMembers; track teamMember.pokemon.id) {
      <div class="pokemon-image">
        @if (!teamMember.pokemon.isDefault) {
          <img src="assets/sprites/pokemon-sv/{{ teamMember.pokemon.name }}.png" />
        }
      </div>
    }
  </div>
</div>
