.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--highlight);
  height: 100%;
  padding-top: 0.2em;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.team-name-label {
  font-weight: 500;
}

.team-pokemon-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pokemon-image img {
  width: 4em;
  height: auto;
}

.active-team {
  border-color: var(--highlight-border);
}

.second-team {
  border-color: #5cb85c;
}
