<div class="card" cdkDrag cdkDragBoundary=".target-pokemon" [cdkDragDisabled]="canDrag()" [attr.data-cy]="'pokemon-card-' + target().pokemon.displayName">
  @if (target().pokemon.isDefault) {
    <div class="body">
      <div class="card-right-side">
        <div class="pokemon-image-container" [@fadeIn]>
          <img src="assets/icons/question.png" />
          <app-pokemon-combo-box [pokemonId]="target().pokemon.id" data-cy="card-pokemon-select" />
        </div>
      </div>
    </div>
  } @else {
    <div class="body">
      <div class="combine-buttons">
        @if (isAttacker() && !isDefaultDefender()) {
          @if (!damageResult().secondAttacker) {
            <div class="combine-buttons handle" cdkDragHandle matTooltip="Combine" [matTooltipShowDelay]="500" [attr.data-cy]="moveCardSelector()">
              <mat-icon>open_with</mat-icon>
            </div>
          } @else {
            <div class="combine-buttons pointer" (click)="separateAttackers()" matTooltip="Separate" [matTooltipShowDelay]="500" [attr.data-cy]="separateCardSelector()">
              <mat-icon>move_down</mat-icon>
            </div>
          }
        }
      </div>

      <div class="left-side" [@fadeIn]>
        @if (isDefaultAttacker()) {
          <div class="pokemon-image-container">
            <img src="assets/icons/question.png" />
            Select a Pokémon
          </div>
        } @else {
          <div class="left-pokemon" (click)="activate(damageResult().attacker.id)" matTooltip="Edit" [matTooltipShowDelay]="500" [attr.data-cy]="attackerSelector()">
            <img class="pokemon-image" src="assets/sprites/pokemon-sv/{{ damageResult().attacker.name }}.png" />
          </div>
          @if (damageResult().secondAttacker) {
            <div class="left-pokemon" (click)="activate(damageResult().secondAttacker!.id)" matTooltip="Edit" [matTooltipShowDelay]="500" [attr.data-cy]="secondAttackerSelector()">
              <img class="pokemon-image" src="assets/sprites/pokemon-sv/{{ damageResult().secondAttacker?.name }}.png" />
            </div>
          }
        }
      </div>

      <div class="middle">
        <img class="vs-icon" src="assets/icons/vs.png" />
      </div>

      <div class="right-side">
        @if (isDefaultDefender()) {
          <div class="body">
            <div class="card-right-side">
              <div class="pokemon-image-container" [@fadeIn]>
                <img src="assets/icons/question.png" />
                Select a Pokémon
              </div>
            </div>
          </div>
        } @else {
          <div class="pointer" (click)="activate(defender().id)" matTooltip="Edit" [matTooltipShowDelay]="500" [attr.data-cy]="defenderSelector()">
            <app-pokemon-hp-badge [name]="defender().displayNameWithoutSuffix" [actualHp]="defender().actualHp" [hpBase]="defender().hp" [spriteName]="defender().name" [item]="defender().item" [damageTaken]="damageTaken()" />
          </div>

          <div class="middle-section">
            <div class="middle-section-items">
              <span>Nature: {{ defender().nature }}</span>
              <span>Ability: {{ defender().ability.simpleName }}</span>
              <span>Item: {{ defender().item }}</span>
              <span
                >Tera: {{ defender().teraType }}
                @if (defender().teraTypeActive) {
                  Active
                }
              </span>
            </div>

            <div class="middle-section-buttons">
              <div class="card-buttons">
                <app-tatsugiri-button [pokemonId]="defender().id" />
                <app-booster-energy-button [pokemonId]="defender().id" />
                <app-terastal-button [pokemonId]="defender().id" />

                <button class="icon-button" (click)="removePokemon($event)" data-cy="delete-opponent-pokemon">
                  <img class="icon-trash" src="assets/icons/trash.png" />
                </button>
              </div>

              <span>{{ evsDescription() }}</span>
            </div>
          </div>
        }
      </div>
    </div>

    @if (damageResult() && !isDefaultAttacker() && !isDefaultDefender()) {
      <div class="footer">
        <div class="damage-result">
          {{ damageResult().description }}
          <app-copy-button [value]="damageResult().description" />
        </div>
      </div>
    }
  }

  <div *cdkDragPlaceholder></div>
</div>
