.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--highlight);
}

.combine-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.5em;
  margin-top: -0.5em;
  width: 40px;
  height: 50px;
}

.handle {
  cursor: move;
}

.pointer {
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pokemon-image {
  width: 7em;
  height: auto;
}

.pokemon-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  align-items: center;
}

.footer {
  border-top: 1px solid var(--highlight-contrast);
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.middle-section-items {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  gap: 0.5em;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon-button .icon-trash {
  width: auto;
  height: 1.6em;
}

.vs-icon {
  width: auto;
  height: 4em;
}

.middle-section-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.damage-result {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  margin-top: 1em;
  font-size: 1.05em;
  line-height: 1.6;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
