.card {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  padding: 0.5em 0.5em 0.5em 1em;
  color: black;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon-button .icon-tatsugiri {
  width: auto;
  height: 1.8em;
}

.icon-button .icon-tera {
  width: auto;
  height: 1.8em;
}

.icon-button .icon-trash {
  width: auto;
  height: 1.6em;
}

.pokemon-image {
  width: 7em;
  height: auto;
}

.pokemon-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.plus-icon {
  z-index: 1;
  color: #26222f;
  display: block;
  height: 20px;
}

.plus-icon:hover {
  cursor: pointer;
  font-weight: 600;
}

.ko-chance {
  display: inline-block;
}

.ko-chance::first-letter {
  text-transform: uppercase;
}

.card-buttons {
  display: flex;
  z-index: 1;
}

.damage-result {
  font-size: 1.05em;
}

.grey-card {
  background-color: light-dark(#dbd8e3, #c8c4d4);
}

.grey-card.border {
  border: 4px solid;
  border-color: #857da1;
}

.red-card {
  background-color: light-dark(#f33d42, #db4c40);
}

.red-card.border {
  border: 4px solid;
  border-color: #89231a;
}

.yellow-card {
  background-color: light-dark(#fe9901, #fead34);
}

.yellow-card.border {
  border: 4px solid;
  border-color: #cb7a01;
}

.green-card {
  background-color: light-dark(#30ca2e, #28a626);
}

.green-card.border {
  border: 4px solid;
  border-color: #20851e;
}

.select-pokemon-card {
  background-color: var(--highlight);
}

.select-pokemon-card.border {
  border: 4px solid;
  border-color: var(--primary);
}
