.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}

.card-left-side {
  // background-color: var(--primary);
}

.left-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.attacker-description {
}

.card-middle {
  display: flex;
  align-items: center;
}

.card-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  // background-color: var(--primary);
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.middle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
}

.middle-section-items {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 1.5em;
}

.icon-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.icon-button .icon-trash {
  width: auto;
  height: 1.6em;
}

.pokemon-image {
  width: 7em;
  height: auto;
}

.plus-icon {
  z-index: 1;
  color: #26222f;
  display: block;
  height: 20px;
}

.plus-icon:hover {
  cursor: pointer;
  font-weight: 600;
}

.ko-chance {
  display: inline-block;
}

.ko-chance::first-letter {
  text-transform: uppercase;
}

.card-buttons {
  display: flex;
  z-index: 1;
}

.damage-result {
  font-size: 1.05em;
}

.select-pokemon-card {
  background-color: var(--highlight);
}

.select-pokemon-card.border {
  border: 4px solid;
  border-color: var(--primary);
}
