<app-widget [title]="'Your Team'" data-cy="your-team">
  <right-header>
    <div class="tabs">
      @for (teamMember of store.team().teamMembers; track teamMember.pokemon.id) {
        <app-pokemon-tab [pokemonId]="teamMember.pokemon.id" [active]="showTeamMemberActive(teamMember)" (tabActivated)="activatePokemon($event)" />
      }
    </div>
  </right-header>

  <div class="pokemon-actions">
    <app-import-pokemon-button [show]="canImportPokemon()" [hidden]="!teamMemberOnEdit()" (pokemonImportedEvent)="pokemonImported($event)" data-cy="import-pokemon-to-team" />
    <app-export-pokemon-button [show]="canExportPokemon()" [hidden]="!teamMemberOnEdit()" [pokemonId]="pokemonId()" data-cy="export-pokemon-from-team" />

    @if (canShowCombineButton()) {
      <div [hidden]="!teamMemberOnEdit()" class="combine-damage" (click)="selectSecondAttacker()">
        @if (combineDamageActive()) {
          <mat-icon class="icon" data-cy="disable-damage-combined-button">add_circle</mat-icon>
        } @else {
          <mat-icon class="icon" data-cy="damage-combined-button">add_circle_outline</mat-icon>
        }
        <label>Combine Damage</label>
      </div>
    }

    @if (canShowDeleteButton()) {
      <div [hidden]="!teamMemberOnEdit()" class="delete-pokemon" (click)="removePokemon()" data-cy="delete-from-team-button">
        <mat-icon class="icon">delete</mat-icon>
        <label>Delete</label>
      </div>
    }
  </div>

  <app-pokemon-build [pokemonId]="pokemonId()" />
</app-widget>
<router-outlet></router-outlet>
