.tabs {
  display: flex;
}

.pokemon-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  margin-top: 1em;
  margin-right: 0.5em;
  min-height: 2em;
}

.delete-pokemon,
.combine-damage {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.delete-pokemon:hover,
.combine-damage:hover > * {
  cursor: pointer;
  font-weight: 500;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
