.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  background-color: rgb(252, 248, 248);
  color: rgb(88, 88, 90);
  margin: 0.5em 1em 0em 1em;
}

.container-speed-scale {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding: 1em 1.5em 1em 1.5em;
  margin-top: 1em;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

.title-box {
  display: flex;
  gap: 2em;
}

.text-color * {
  color: rgb(88, 88, 90);
}

.title {
  color: black;
  font-weight: 500;
  font-size: clamp(12px, 2vh, 18px);
}

.header-buttons-section {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-buttons-text {
  display: flex;
  flex-direction: column;
}

.header-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
}

.mat-ev-stat-modifier {
  width: 5em;
  height: 2.5em;
}

.regulation {
  display: flex;
  flex-direction: column;
}

.pokemon-combo {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.clear-button {
  cursor: pointer;
}
