<mat-card (click)="activate()" class="card" [ngStyle]="cardStyle()" [attr.data-cy]='"pokemon-card-" + target.pokemon.displayName'>
  <div class="card-container">
    <div class="card-left-side">
      <mat-card-title-group>
        <mat-card-title>{{ target.pokemon.displayName }}</mat-card-title>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault()">Item: {{ target.pokemon.item }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault()">Nature: {{ target.pokemon.nature }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault()">Ability: {{ target.pokemon.displayAbility }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault()">{{ target.pokemon.evsDescription(isAttacker) }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault() && isAttacker">Move: {{ target.pokemon.activeMoveName }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!target.pokemon.isDefault()">Tera Type: {{ target.pokemon.teraType }}</mat-card-subtitle>
      </mat-card-title-group>
      <div *ngIf="target.damageResult && !target.pokemon.isDefault() && showDamageDescription">
        <br>Damage: {{ target.damageResult.result }}
        <br><label class="ko-chance">{{ target.damageResult.koChance }}</label>
      </div>
    </div>
    <div class="card-right-side">
      <div class="pokemon-image-container">
        <div class="plus-icon" matTooltip="Combine damage" [matTooltipShowDelay]="1000">
          <mat-icon *ngIf="!target.pokemon.isDefault() && !target.active && canSelectSecondPokemon" (click)="addSecondAttacker($event)">check_circle_outline</mat-icon>
          <mat-icon *ngIf="!target.pokemon.isDefault() && target.active" (click)="addSecondAttacker($event)">check_circle</mat-icon>
        </div>
        <img *ngIf="target.pokemon.isDefault()" class="pokemon-image" mat-card-md-image src='assets/icons/question.png'>
        <img *ngIf="!target.pokemon.isDefault()" class="pokemon-image" mat-card-md-image src='https://img.pokemondb.net/sprites/home/normal/{{ target.pokemon.spriteName }}.png'>
      </div>
      <div class="card-buttons">
        <button class="icon-button" (click)="toogleCommanderAbility($event)" *ngIf="target.pokemon.name == 'Dondozo'">
          <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly.png" *ngIf="commanderActivated" />
          <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly-gray.png" *ngIf="!commanderActivated" />
        </button>
        <button class="icon-button" (click)="terastalyzePokemon($event)" *ngIf="target.pokemon.teraTypeStorage && !target.pokemon.isDefault()" matTooltip="Terastal" [matTooltipShowDelay]="1000" data-cy="terastal-button-opponent">
          <img class="icon-tera" src="assets/icons/tera-icon.png" *ngIf="target.pokemon.teraTypeActive" />
          <img class="icon-tera" src="assets/icons/tera-icon-gray.png" *ngIf="!target.pokemon.teraTypeActive" />
        </button>
        <button class="icon-button" (click)="removePokemon()" data-cy="delete-opponent-pokemon">
          <img class="icon-trash" src="assets/icons/trash.png"/>
        </button>
      </div>
    </div>
  </div>
</mat-card>