@use "@angular/material" as mat;

@use "variables.scss" as *;

html {
  @include mat.theme(
    (
      density: -5
    )
  );
}

.warn {
  @include mat.button-overrides(
    (
      filled-container-color: var(--warn)
    )
  );
}

body {
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      filled-container-height: 2.5em,
      filled-horizontal-padding: 1.5rem,
      filled-label-text-color: var(--primary-contrast)
    )
  );

  @include mat.button-toggle-overrides(
    (
      height: 3em,
      shape: 4px,
      divider-color: #dfdfe2,
      selected-state-background-color: #dfdfe2,
      text-color: var(--text),
      label-text-size: $font-size
    )
  );

  @include mat.form-field-overrides(
    (
      container-text-size: $font-size,
      outlined-outline-color: #a0a0a3,
      outlined-input-text-color: var(--text),
      container-height: 2.5em,
      container-vertical-padding: 0.7em
    )
  );

  @include mat.autocomplete-overrides(
    (
      background-color: var(--widget-background)
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: var(--widget-background),
      trigger-text-size: $font-size,
      trigger-text-weight: 400
    )
  );

  @include mat.slider-overrides(
    (
      handle-height: 1.5em,
      handle-width: 1.5em,
      inactive-track-color: var(--primary)
    )
  );

  @include mat.chips-overrides(
    (
      container-height: 2em,
      container-shape-radius: 20px,
      elevated-selected-container-color: var(--primary),
      elevated-container-color: var(--chip-color),
      selected-label-text-color: var(--primary-contrast),
      outline-color: white,
      focus-outline-color: white
    )
  );

  @include mat.checkbox-overrides(
    (
      disabled-selected-icon-color: var(--primary),
      unselected-icon-color: var(--text),
      disabled-selected-checkmark-color: var(--checkmark-color),
      selected-checkmark-color: var(--checkmark-color)
    )
  );

  @include mat.dialog-overrides(
    (
      container-shape: square,
      container-color: var(--highlight),
      subhead-color: var(--text),
      subhead-size: 1.2rem,
      subhead-weight: 500
    )
  );

  @include mat.card-overrides(
    (
      title-text-size: 1.3em,
      title-text-weight: 500,
      title-text-line-height: 1.7em,
      subtitle-text-line-height: 1.7em,
      subtitle-text-weight: 400
    )
  );

  @include mat.menu-overrides(
    (
      container-color: var(--widget-background),
      item-spacing: 2px,
      divider-top-spacing: 2em,
      divider-bottom-spacing: 1em
    )
  );

  @include mat.button-toggle-overrides(
    (
      height: 2.5em
    )
  );

  @include mat.slide-toggle-overrides(
    (
      track-height: 2em,
      label-text-color: var(--text),
      handle-surface-color: var(--primary),
      selected-hover-handle-color: white,
      selected-handle-color: white,
      selected-focus-handle-color: white,
      selected-pressed-handle-color: white,
      unselected-hover-handle-color: var(--highlight),
      unselected-handle-color: var(--highlight),
      unselected-focus-handle-color: var(--highlight),
      unselected-pressed-handle-color: var(--highlight)
    )
  );

  @include mat.snack-bar-overrides(
    (
      container-color: var(--highlight),
      supporting-text-color: var(--text-strong)
    )
  );
}

app-header,
app-team-import-modal,
app-team-export-modal {
  @include mat.button-overrides(
    (
      filled-container-shape: square,
      filled-container-color: white,
      filled-label-text-color: black,
      filled-state-layer-color: grey,
      filled-label-text-weight: 500
    )
  );
}

app-damage-result {
  @include mat.button-toggle-overrides(
    (
      height: 2em
    )
  );
}

app-speed-calculator,
app-speed-calculator-mobile,
app-ev-slider {
  .mat-mdc-text-field-wrapper {
    height: 2.5em;
  }

  .mat-mdc-select {
    margin-top: -0.6em;
  }
}

app-nature-combo-box,
app-tera-combo-box,
app-status-combo-box,
app-ability-combo-box {
  .mat-mdc-select-arrow {
    display: none;
  }
}

.mat-mdc-select-disabled,
.mat-mdc-select-disabled .mat-mdc-select,
.mat-mdc-select-disabled .mat-mdc-select-trigger,
.mat-mdc-select-disabled .mdc-select {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.input-column input:disabled,
.input-row input:disabled {
  cursor: not-allowed;
}

.mat-icon {
  font-size: 1.8em;
}

.mat-mdc-checkbox-disabled .mdc-checkbox {
  opacity: 0.7;
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-disabled) {
  opacity: 0.5;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
  color: var(--text);
  overflow: auto;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.center {
  text-align: center;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: "Proba Pro";
  src: url("assets/fonts/ProbaPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 1279px) {
  body {
    @include mat.form-field-overrides(
      (
        container-text-size: $font-size-mobile
      )
    );

    @include mat.button-toggle-overrides(
      (
        label-text-size: $font-size-mobile
      )
    );
  }

  body {
    font-size: $font-size-mobile;
  }
}
