.container {
  display: grid;
  row-gap: 1em;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  height: 94%;
  padding: 1em 1.5em 1em 1.5em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-header {
  display: grid;
}

.title {
  grid-row: 1;
  margin-bottom: 2.5em;
}

.title {
  color: black;
  font-weight: 500;
  font-size: large;
}

.tabs {
  display: flex;
  align-items: center;
}

.pokemon-actions {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1em;
  margin-top: -0.4em;
  margin-bottom: -0.8em;
  margin-right: 0.5em;
  min-height: 2em;
}

.delete-pokemon {
  display: flex;
  align-items: center;
  gap: 0.2em
}

.delete-pokemon:hover > * {
  cursor: pointer;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left-container {
    row-gap: 0.5em;
  }
  

  .right-container {
    margin-top: 1em;
  }

  .edit-attacks-button {
    margin-left: 0.2em;
  }

  .evs {
    padding: 0em;
    grid-row-gap: 0.5em;
  }

}