<div class="container">
  <div class="header">
    <span class="title">Your Team</span>
  </div>
  <div class="target-inputs">
    <li class="form-row">
      <div>
        <input class="poke-paste-input" placeholder="Paste Link" type="text" matInput [(ngModel)]="pokePaste">
      </div>
      <button mat-flat-button color="primary" (click)="addFromPokePaste()">Replace with Paste</button>
      <button mat-flat-button color="warn" (click)="removeAll()">Remove all</button>
    </li>
  </div>
  <div class="error-message-poke-paste">
    <label>{{ errorMessagePokePaste }}</label>
  </div>
  <div class="cards">
    <div *ngFor="let teamMember of team">
      <app-pokemon-card [teamMember]="teamMember" (pokemonActivated)="pokemonActivated($event)" />
    </div>
    <app-add-pokemon-card *ngIf="team.length < 6" (pokemonAddedToTeam)=pokemonAddedToTeam()/>
  </div>
</div>
