.container {
  margin-top: 1em;
  margin-right: 1em;
  background-color: rgb(240, 236, 236);
  border-radius: 1%;
  height: 100%;
}

.header {
  background-color: rgb(40, 41, 41);
  font-size: large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.title {
  color: white;
  margin-left: 0.8em;
}

.inputs {
  background-color: rgb(240, 236, 236);
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 1em 0 1em;
  column-gap: 1em;
}

.poke-paste-input {
  height: 82%;
}

.error-message-poke-paste {
  background-color: rgb(240, 236, 236);
  padding-left: 1em;
  color: #f44336;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 1em 1em 0 1em;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 0em;
    margin-right: 0em;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1em;
  }

  .form-row > * {
    flex-basis: 47.5%;
    font-size: smaller;
  }  

  .poke-paste-input {
    width: 95%;
    height: 82%;
    font-size: smaller;
  }
}
