<div class="container" data-cy="your-team">
  <div class="header">
    <div class="team-header">
      <span class="title">Your Team</span>
    </div>

    <div class="tabs">
      @for (teamMember of store.team().teamMembers(); track teamMember.pokemon.id) {
        <app-pokemon-tab [pokemonId]="teamMember.pokemon.id" [active]="teamMember.active || isSecondSelection(teamMember)" (tabActivated)="activatePokemon($event)" />
      }
    </div>
  </div>

  <div class="pokemon-actions">
    <app-import-pokemon-button [show]="canImportPokemon()" [hidden]="!teamMemberOnEdit()" (pokemonImportedEvent)="pokemonImported($event)" data-cy="import-pokemon-to-team"/>
    <app-export-pokemon-button [show]="canImportPokemon()" [hidden]="!teamMemberOnEdit()" [pokemon]="pokemonOnEdit() " data-cy="export-pokemon-from-team"/>

    @if (canShowCombineButton()) {
      <div [hidden]="!teamMemberOnEdit()" class="delete-pokemon" (click)="selectSecondAttacker()">
        @if (combineDamageActive()) {
          <mat-icon data-cy="disable-damage-combined-button">add_circle</mat-icon>
        }
        @else {
          <mat-icon data-cy="damage-combined-button">add_circle_outline</mat-icon>
        }
        <label>Combine Damage</label>
      </div>
    }

    @if (canShowDeleteButton()) {
      <div [hidden]="!teamMemberOnEdit()" class="delete-pokemon" (click)="removePokemon()" data-cy="delete-from-team-button">
        <mat-icon>delete</mat-icon>
        <label>Delete</label>
      </div>
    }
  </div>

  <app-pokemon-build [pokemonId]="pokemonId()" />
</div>
<router-outlet></router-outlet>