.container {
  padding: 1em 1.5em 1.0em 1.5em;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  height: 92%;
}

.header {
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  font-weight: 500;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.poke-paste-input {
  height: 82%;
  padding-left: 0.5em;
  color: rgb(88, 88, 90);
  border-radius: 3px;
  border: 1px solid rgb(133, 129, 129);
}

.error-message-poke-paste {
  background-color: white;
  color: #f44336;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(170px, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 1em 0em 0 0em;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 1em 1em 0em 1em;
    height: 100%;
    border-radius: 0%;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;    
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .form-row {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1em;
  }

  .form-row > * {
    flex-basis: 47.5%;
    font-size: smaller;
  }  

  .poke-paste-input {
    width: 95%;
    height: 82%;
    font-size: smaller;
  }
}
