.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  background-color: rgb(252, 248, 248);
  color: rgb(88, 88, 90);
  margin: 0 1em 0em 1em;
}

.damage-results {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-column-gap: 1em;
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding: 1em 1.5em 1em 1.5em;
}

.pokemon-edit {
  background-color: white;
  border-radius: 12px;
  border-color: rgb(229, 231, 235);
  border-width: 1px;
  border-style: solid;
  padding: 1em 1.5em 1em 1.5em;
}

.field {
  grid-column-start: 1;
  grid-column-end: 3;
}

.pokemon-actions {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: -0.4em;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
  min-height: 2em;
}

.pokemon-actions-left {
  justify-content: left;
}

.pokemon-actions-right {
  justify-content: right;
}
