:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
}

.filters-bar {
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: var(--filterable-table-header);
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  gap: 1em;
  flex-wrap: wrap;
  height: 2.5em;
}

.filter-label {
  font-weight: 500;
}

.filter-tag {
  background-color: var(--primary);
  padding: 4px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-contrast);

  .remove-filter {
    cursor: pointer;
    margin-left: 5px;
  }
}

.table-header {
  display: grid;
  background-color: var(--filterable-table-header);
  padding: 10px 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
  height: 1em;
}

.header-cell {
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.header-cell.sortable {
  user-select: none;
  position: relative;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  &:active,
  &:focus {
    cursor: default;
    outline: none;
  }
}

.close-button {
  margin-left: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.entries-list {
  display: flex;
  flex-direction: column;
}

.entries-section-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em;
}

.entry {
  border-bottom: 1px solid var(--filterable-table-bottom-line);
  height: 2.5em;
  padding: 6px 8px;
  display: grid;
  align-items: center;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.entry:hover {
  background-color: var(--filterable-table-active-line);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.entry-active {
  background-color: var(--filterable-table-selected-line);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.entry-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-icon {
  width: 2.5em;
  height: auto;
}

.type-column {
  width: 100%;
}

.multi-value-column {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}

.multi-value {
  margin-bottom: 0.3em;
}

.basic-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.column-label {
  font-size: 0.7em;
  color: var(--filterable-table-cell-header);
  text-transform: uppercase;
  margin-bottom: 2px;
  font-weight: normal;
  line-height: 1;
}

.column-value {
  line-height: 1;
}

.column-value-left {
  text-align: left;
  width: 100%;
}

.filter-list-section {
  background-color: var(--filterable-table-header);
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.filter-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;

  h3 {
    margin: 0;
  }
}

.filter-options-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
}

.filter-option {
  background-color: var(--chip-color);
  border-radius: 8px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-height: calc(44px + (2px * 2));
}

.expand-icon {
  display: flex;
  justify-content: right;
  margin-right: 0.5em;
  cursor: pointer;
}

.no-types {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  background-color: var(--filterable-table-header);
  border-radius: 4px;
}

.disable-hover:hover {
  background: none !important;
  box-shadow: none !important;
  cursor: default;
}

:focus {
  outline: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 200ms ease-in;
}
