<div class="container">
  <div class="moves">
    <div class="no-edit-moves" *ngIf="!editAttacks">
      <mat-chip-listbox [(ngModel)]="selectedMove" (change)="moveChanged()">
        <mat-chip-option *ngIf="pokemon.move1Name" [selected]="pokemon.move1Name == pokemon.activeMoveName" (click)="activateMove(1, pokemon.moveSet.move1)">{{ pokemon.move1Name }}</mat-chip-option>
        <mat-chip-option *ngIf="pokemon.move2Name" [selected]="pokemon.move2Name == pokemon.activeMoveName" (click)="activateMove(2, pokemon.moveSet.move2)">{{ pokemon.move2Name }}</mat-chip-option>
        <mat-chip-option *ngIf="pokemon.move3Name" [selected]="pokemon.move3Name == pokemon.activeMoveName" (click)="activateMove(3, pokemon.moveSet.move3)">{{ pokemon.move3Name }}</mat-chip-option>
        <mat-chip-option *ngIf="pokemon.move4Name" [selected]="pokemon.move4Name == pokemon.activeMoveName" (click)="activateMove(4, pokemon.moveSet.move4)" >{{ pokemon.move4Name }}</mat-chip-option>
        
        <div class="edit-button-section">
          <div *ngIf="!editAttacks" (click)="editMoves()" class="edit-button">
            <mat-icon class="edit-icon">edit</mat-icon>Edit
          </div>
          <div *ngIf="pokemon.moveSet.activeMove.possibleHits.length > 0 && !editAttacks" class="multihit">
            <label *ngIf="pokemon.activeMoveName != 'Rage Fist'">Hits</label>
            <label *ngIf="pokemon.activeMoveName == 'Rage Fist'">Hits Taken</label>
            <div class="hits-input">
              <app-input-autocomplete [(value)]="pokemon.moveSet.activeMove.hits" [allValues]="pokemon.moveSet.activeMove.possibleHits" (valueChange)="onHitsSelected()"/>
            </div>
          </div>
        </div>
      </mat-chip-listbox>
    </div>
    <div class="edit-moves" *ngIf="editAttacks">
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [(value)]="pokemon.moveSet.move1.name" [allValues]="allMoveNames"/>
        </div>
      </div>
      
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [(value)]="pokemon.moveSet.move2.name" [allValues]="allMoveNames"/>
        </div>
      </div>
      
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [(value)]="pokemon.moveSet.move3.name" [allValues]="allMoveNames"/>
        </div>
      </div>
      
      <div>
        <div class="check-input-section-input">
          <app-input-autocomplete [(value)]="pokemon.moveSet.move4.name" [allValues]="allMoveNames"/>
        </div>
      </div>

      <div class="save-button" (click)="saveMoves()">
        <mat-icon class="edit-icon" *ngIf="editAttacks">save</mat-icon>Save
      </div>
    </div>
  </div>

  <div class="combo-options">
    <div class="combo-option">
      <label>Item</label>
      <app-input-autocomplete [(value)]="pokemon.item" [allValues]="allItemsNames"/>
    </div>

    <div class="combo-option">
      <label>Nature</label>
      <app-input-autocomplete [(value)]="pokemon.nature" [allValues]="allNatureNames"/>
    </div>

    <div class="combo-option">
      <label>Status</label>
      <app-input-autocomplete [(value)]="pokemon.status" [allValues]="statusConditions"/>
    </div>

    <div class="combo-option tera-type">
      <button class="icon-button" (click)="terastalyzePokemon($event)" *ngIf="pokemon.teraTypeStorage" matTooltip="Terastal" [matTooltipShowDelay]="1000">
        <img class="icon-tera" src="assets/icons/tera-icon.png" *ngIf="pokemon.teraTypeActive" />
        <img class="icon-tera" src="assets/icons/tera-icon-gray.png" *ngIf="!pokemon.teraTypeActive" />
      </button>
      
      <div>
        <label >Tera Type</label>
        <app-input-autocomplete [(value)]="pokemon.teraType" [allValues]="allTeraTypes" [disabled]="pokemon.isTerapagos()"/>          
      </div>
    </div>

    <div class="combo-option ability">
      <div class="ability-checkbox" *ngIf="pokemon.ability == 'Analytic' || pokemon.ability == 'Unburden'">
        <mat-checkbox [(ngModel)]="pokemon.abilityOn"/>
      </div>     

      <button class="icon-button" (click)="toogleCommanderAbility()" *ngIf="pokemon.name == 'Dondozo'" matTooltip="Commander">
        <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly.png" *ngIf="commanderActivated" />
        <img class="icon-tatsugiri" src="assets/icons/tatsugiri-curly-gray.png" *ngIf="!commanderActivated" />
      </button>

      <button class="icon-button" (click)="toogleParadoxAbility()" *ngIf="pokemon.isParadoxAbility()" matTooltip="Booster Energy">
        <img class="icon-tatsugiri" src="assets/icons/booster-energy.png" *ngIf="pokemon.abilityOn" />
        <img class="icon-tatsugiri" src="assets/icons/booster-energy-gray.png" *ngIf="!pokemon.abilityOn" />
      </button>

      <div>
        <label>Ability</label>
        <app-ability-combo-box [pokemon]="pokemon"/>
      </div>
    </div>
  </div>

  <div class="evs">
    <app-ev-slider statNameAcronym="HP" [statValue]="pokemon.hp" [showIv]="true" [(ev)]="pokemon.evs.hp" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
      [(iv)]="pokemon.ivs.hp" (ivChange)="onChangeIvValue()"/>
        
    <app-ev-slider statNameAcronym="ATK" [statValue]="pokemon.modifiedAtk()" [showIv]="true" [(ev)]="pokemon.evs.atk" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()" 
      [(iv)]="pokemon.ivs.atk" (ivChange)="onChangeIvValue()" [(statsModifier)]="pokemon.boosts.atk" [nature]="pokemon.nature"/>

    <app-ev-slider statNameAcronym="DEF" [statValue]="pokemon.modifiedDef()" [showIv]="true" [(ev)]="pokemon.evs.def" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
      [(iv)]="pokemon.ivs.def" (ivChange)="onChangeIvValue()" [(statsModifier)]="pokemon.boosts.def" [nature]="pokemon.nature"/>
    
    <app-ev-slider statNameAcronym="SPA" [statValue]="pokemon.modifiedSpa()" [showIv]="true" [(ev)]="pokemon.evs.spa" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
      [(iv)]="pokemon.ivs.spa" (ivChange)="onChangeIvValue()" [(statsModifier)]="pokemon.boosts.spa" [nature]="pokemon.nature"/>
    
    <app-ev-slider statNameAcronym="SPD" [statValue]="pokemon.modifiedSpd()" [showIv]="true" [(ev)]="pokemon.evs.spd" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
      [(iv)]="pokemon.ivs.spd" (ivChange)="onChangeIvValue()" [(statsModifier)]="pokemon.boosts.spd" [nature]="pokemon.nature"/>
    
    <app-ev-slider statNameAcronym="SPE" [statValue]="pokemon.modifiedSpe()" [showIv]="true" [(ev)]="pokemon.evs.spe" (evChangedEvent)="onChangeEvValue()" (beforeEvChangedEvent)="beforeChangeEvValue()"
      [(iv)]="pokemon.ivs.spe" (ivChange)="onChangeIvValue()" [(statsModifier)]="pokemon.boosts.spe" [nature]="pokemon.nature"/>
  </div>
</div>